<body
  style="
    background-color: #000000;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 1.25vw;
  "
>
  <canvas
    id="wrapper"
    style="width: 100%; height: 100%; background: #000000"
  ></canvas>

  <div id="bg-canvas" style="display: inline; opacity: 0.3"></div>

  <div
    class="content"
    id="dj-alert"
    style="background: #000000; display: none"
  ></div>

  <div
    class="content"
    id="eas-alert"
    style="background: #0000ff; display: none"
  ></div>

  <div id="no-connection" class="overlay" style="display: none">
    <div class="text container-fluid" style="text-align: center">
      <h2 style="text-align: center; font-size: 7em; color: #f44336">
        Lost Connection to WWSU!
      </h2>
      <h2 style="text-align: center; font-size: 3em; color: #f44336">
        Display sign lost connection. Trying to re-connect...
      </h2>
    </div>
  </div>

  <div
    class="shadow-4"
    style="
      position: absolute;
      top: 0;
      left: 0;
      background: #ffffff;
      height: 15%;
      width: 20%;
    "
  >
    <img src="../../images/display/logo_true.png" style="width: 100%" />
  </div>

  <div
    class="shadow-4"
    id="nowplaying"
    style="
      position: absolute;
      top: 0;
      left: 20%;
      background: #000000;
      height: 15%;
      width: 80%;
      text-align: center;
    "
  >
    <div style="color: #ffeb3b; font-size: 3.5vh" id="nowplaying-time"></div>
    <div style="color: #ffffff; font-size: 3.5vh" id="nowplaying-lines">
      <div id="nowplaying-line1"></div>
      <div id="nowplaying-line2"></div>
    </div>
  </div>

  <div
    class="content"
    id="slides"
    style="
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      top: 15%;
      right: 0%;
      height: 80%;
      width: 100%;
    "
  ></div>

  <div class="footer" style="color: #ffffff; text-align: center">
    <div class="foot">
      <div
        class="p-1 m-1"
        style="height: 5%; text-align: center; font-size: 4vh;"
        id="slide-badges"
      ></div>
      <div
        style="height: 5%; background-color: #787878; text-align: center"
        id="status-div"
        class="shadow-4"
      >
        <div
          class="m-1"
          style="
            color: #ffffff;
            font-size: 4vh;
            text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
          "
          id="status-line"
        >
          DISPLAY SIGN NOT CONNECTED TO WWSU
        </div>
      </div>
    </div>
  </div>
  <script>
    if (window.module) module = window.module;
  </script>
  <script src="../../plugins/wwsu-display/internal.js?t=<%= timestamp %>"></script>
</body>
