<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WWSU Display</title>
    <script>
      if (typeof module === "object") {
        window.module = module;
        module = undefined;
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Clock styling -->
    <style>
      .clock-container {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        top: 50%;
        margin-top: -100px;
      }

      .clock {
        width: 100%;
        height: 100%;
        margin: auto;
        position: relative;
      }

      .clock div,
      .faceBox {
        border: 0;
        background-color: black;
        position: absolute;
        transform-origin: center bottom;
        -webkit-transform-origin: center bottom;
        -moz-transform-origin: center bottom;
        -o-transform-origin: center bottom;
        transform: rotate(0deg);
      }

      .dark-mode .clock div,
      .dark-mode .faceBox {
        background-color: white;
      }

      .clock .clock-hour {
        border-radius: 0.5em 0.5em 0 0;
        width: 3%;
        height: 20%;
        top: 30%;
        left: 47.5%;
        z-index: 30;
      }

      .clock .clock-minute {
        border-radius: 0.33em;
        width: 2%;
        height: 36.66%;
        top: 13.33%;
        left: 48.33%;
        z-index: 20;
      }

      .clock .clock-second {
        border-radius: 0.2em;
        width: 0.83%;
        height: 46.66%;
        top: 3.33%;
        left: 49.16%;
        z-index: 10;
        background-color: red;
      }

      .clock .clock-center {
        height: 6.66%;
        width: 6.66%;
        border-radius: 50%;
        top: 46.66%;
        left: 46.66%;
        z-index: 50;
        transform: rotate(0deg);
      }

      .smallTick {
        width: 3.33%;
        height: 16.66%;
        background-color: black;
      }

      .dark-mode .smallTick {
        background-color: white;
      }

      .mediumTick {
        width: 8.33%;
        height: 26.66%;
        background-color: black;
      }

      .dark-mode .mediumTick {
        background-color: white;
      }

      .largeTick {
        width: 13.33%;
        height: 26.66%;
        background-color: black;
        position: relative;
      }

      .dark-mode .largeTick {
        background-color: white;
      }

      .tickNum {
        font-family: Arial, sans-serif;
        font-size: 0.75em;
        line-height: 0;
        color: black;
        position: relative;
        top: 3.33%;
        left: -0.66%;
        z-index: 1;
      }

      .dark-mode .tickNum {
        color: white;
      }

      .faceBox {
        border: 0;
        width: 0;
        height: 50%;
        top: 0;
        left: 50%;
        position: absolute;
        text-align: center;
        overflow: visible;
        margin: 0 auto;
      }
    </style>

    <!-- Pace styling -->
    <style>
      .pace {
        -webkit-pointer-events: none;
        pointer-events: none;

        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .pace-inactive {
        display: none;
      }

      .pace .pace-progress {
        background: #29d;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
      }
    </style>

    <!-- Slides styling -->
    <style>
      .scale-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      .scale-content {
        -ms-transform-origin: top left;
        -webkit-transform-origin: top left;
        transform-origin: top left;
        position: absolute;
      }
    </style>

    <!-- Pace -->
    <script src="/plugins/pace-progress/pace.min.js"></script>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- Theme style (TODO: use min when it is working again) -->
    <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.css" />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- JQuery BlockUI -->
    <script src="/plugins/jquery-blockui/jquery.blockUI.js"></script>
    <!-- JQuery Marquee -->
    <script src="/plugins/marquee/js/marquee.js"></script>

    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap multipleselect -->
    <link
      rel="stylesheet"
      href="/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css"
    />
    <script src="/plugins/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
    <!-- AdminLTE -->
    <script src="/plugins/adminlte/js/adminlte.js"></script>

    <!-- lodash -->
    <script src="/plugins/lodash/lodash.min.js"></script>
    <!-- Taffy -->
    <script src="/plugins/taffydb/taffy-min.js"></script>
    <!-- Moment -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- Moment timezone -->
    <script src="/plugins/moment-timezone/moment-timezone-with-data.js"></script>
    <!-- Moment Duration Format -->
    <script src="/plugins/moment-duration-format/moment-duration-format.js"></script>
    <!-- Moment Recur -->
    <script src="/plugins/moment-recur-ts/moment-recur-ts.min.js"></script>
    <!-- Jdenticon -->
    <script src="/plugins/jdenticon/jdenticon.min.js"></script>
    <!-- Howler -->
    <script src="/plugins/howler/howler.min.js"></script>

    <!-- Bootstrap Slider -->
    <link
      rel="stylesheet"
      href="/plugins/bootstrap-slider/css/bootstrap-slider.min.css"
    />
    <script src="/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- Chart.js -->
    <script src="/plugins/chart.js/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="/plugins/chart.js/Chart.min.css" />

    <!-- TinyMCE -->
    <script src="/plugins/tinymce/tinymce.min.js"></script>

    <!-- Datatables -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <link
      rel="stylesheet"
      href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="/plugins/datatables-details/css/datatables-details.css"
    />

    <!-- Datatables Responsive -->
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <link
      rel="stylesheet"
      href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
    />

    <!--izi-->
    <link rel="stylesheet" href="/plugins/iziModal/css/iziModal.min.css" />
    <link rel="stylesheet" href="/plugins/iziToast/css/iziToast.min.css" />
    <script src="/plugins/iziModal/js/iziModal.min.js"></script>
    <script src="/plugins/iziToast/js/iziToast.min.js"></script>

    <!--FullCalendar-->
    <script src="/plugins/fullcalendar/main.js"></script>
    <link rel="stylesheet" href="/plugins/fullcalendar/main.min.css" />

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/plugins/animate/css/animate.css" />

    <!--WWSU-->
    <script
      src="/plugins/sails.io/sails.io.js"
      autoConnect="false"
      environment="production"
      reconnection="true"
    ></script>
    <script src="/plugins/wwsu-modules/js/wwsu-modules.js?t=202106050147"></script>
    <script src="/plugins/wwsu-sails/js/wwsu.js?t=202106050147"></script>
    <script src="/plugins/wwsu-meta/js/wwsu-meta.js?t=202106050147"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-web.js?t=202106050147"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-class.js?t=202106050147"></script>
    <script src="/plugins/wwsu-announcements/js/wwsu-announcements.js?t=202106050147"></script>
    <script src="/plugins/wwsu-directors/js/wwsu-directors.js?t=202106050147"></script>
    <script src="/plugins/wwsu-eas/js/wwsu-eas.js?t=202106050147"></script>
    <script src="/plugins/wwsu-recipients/js/wwsu-recipients-web.js?t=202106050147"></script>
    <script src="/plugins/wwsu-messages/js/wwsu-messages-web.js?t=202106050147"></script>
    <script src="/plugins/wwsu-status/js/wwsu-status.js?t=202106050147"></script>
    <script src="/plugins/wwsu-shootout/js/wwsu-shootout.js?t=202106050147"></script>
    <script src="/plugins/wwsu-display/js/wwsu-slides.js?t=202106050147"></script>
    <link
      rel="stylesheet"
      href="/plugins/wwsu-navigation/css/wwsu-navigation-flash.css"
    />
  </head>

  <%- body %>

</html>