<body
  class="
    hold-transition
    sidebar-mini
    layout-fixed layout-navbar-fixed layout-footer-fixed
    dark-mode
  "
  style="
    overflow: hidden;
    text-shadow: 1px 0.05em 1px rgba(0, 0, 0, 0.25) !important;
  "
>
  <canvas
    id="wrapper"
    style="width: 100%; height: 100%; background: #000000; display: none"
  ></canvas>

  <div
    class="content bg-black d-none"
    id="dj-alert"
    style="
      z-index: 90000;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
    "
  ></div>

  <div
    class="content"
    id="eas-alert"
    style="
      background: #0000ff;
      display: none;
      z-index: 999999;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
    "
  ></div>

  <!-- All other content -->
  <!-- Christmas -->
  <div id="pure-snow"></div>
  <div id="bokeh"></div>

  <!-- Halloween -->
  <div class="wrapper" id="content">
    <canvas
      class="position-fixed d-none"
      id="tv"
      style="
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        opacity: 0.1;
        z-index: 900001;
      "
    ></canvas>
    <img
      class="position-fixed halloween-decorations d-none"
      style="
        top: 0;
        left: 0;
        pointer-events: none;
        width: 300px;
        z-index: 9999;
        opacity: 0.5;
      "
      src="/images/holidays/halloween/spiderweb-sidebar.png"
    />
    <img
      class="position-fixed halloween-decorations d-none"
      style="
        top: 0;
        right: 0;
        pointer-events: none;
        height: 15vh;
        z-index: 9999;
        opacity: 0.5;
      "
      src="/images/holidays/halloween/spiderweb-navbar.png"
    />
    <img
      class="position-fixed halloween-decorations d-none"
      style="
        bottom: 0;
        left: 0;
        pointer-events: none;
        height: 7.5em;
        z-index: 9999;
        opacity: 0.5;
      "
      src="/images/holidays/halloween/bottom-left.png"
    />
    <img
      class="position-fixed halloween-decorations d-none"
      style="
        bottom: 0;
        right: 0;
        pointer-events: none;
        height: 7.5em;
        z-index: 9999;
        opacity: 0.5;
      "
      src="/images/holidays/halloween/bottom-right.png"
    />
    <img
      class="position-fixed halloween-decorations d-none"
      style="
        bottom: 0;
        left: 0;
        pointer-events: none;
        height: 7.5em;
        z-index: 10000;
        opacity: 1;
      "
      src="/images/holidays/halloween/happy-halloween.png"
    />
    <img
      class="position-fixed halloween-decorations d-none"
      style="
        bottom: 0;
        right: 0;
        pointer-events: none;
        height: 6em;
        z-index: 10000;
        opacity: 0.5;
      "
      src="/images/holidays/halloween/pumpkin.png"
    />
    <!-- Navbar (broadcast operations buttons and times) -->
    <nav
      class="main-header navbar navbar-dark navbar-gray-dark"
      id="nowplaying"
      style="
        height: 15vh;
        position: fixed;
        top: 0;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
      "
    >
      <ul class="navbar-nav" style="width: 100%">
        <div
          class="text-center font-weight-bold"
          style="color: #ffeb3b; font-size: 3vh"
          id="nowplaying-time"
        >
          DISCONNECTED FROM WWSU
        </div>
        <div
          style="color: #ffffff; font-size: 3vh; overflow: hidden"
          id="nowplaying-lines"
        >
          <div class="text-center" id="nowplaying-line1"></div>
          <div class="text-center" id="nowplaying-line2"></div>
        </div>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Menu -->
    <aside
      class="main-sidebar sidebar-dark-danger elevation-2"
      style="width: 300px"
    >
      <!-- Sidebar -->
      <div class="sidebar" style="margin-top: 0px">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <img
            src="/images/display/logo_menu.jpg"
            style="width: 100%; height: 100%"
          />
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2 sidebar-nav"></nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <div
      style="
        margin-left: 315px;
        margin-right: 5px;
        margin-top: 16vh;
        position: relative;
      "
      class="content-wrapper"
      id="slide-contents"
    ></div>

    <!-- Main Footer -->
    <footer
      class="main-footer text-white"
      style="height: 7vh; font-size: 3vh; padding-left: 60px"
    >
      <div id="footer-ticker" style="overflow: hidden"></div>
    </footer>
  </div>
  <!-- ./wrapper -->

  <script src="/plugins/wwsu-display/public.js?t=202202060343"></script>
</body>
