<div style="position: relative;">
    <img src="../../images/embeds/guardian-ad.png" style="position: absolute; top: 0; left: 0;">
    <div id="play" onclick="startAudio()" href="#" style="position: absolute; top: 183px; left: 14px; cursor: pointer;">
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg" id="play-icon" version="1.1" height="50" width="50"
            viewBox="0 0 1200 1200">
            <path
                d="M 600,1200 C 268.65,1200 0,931.35 0,600 0,268.65 268.65,0 600,0 c 331.35,0 600,268.65 600,600 0,331.35 -268.65,600 -600,600 z M 450,300.45 450,899.55 900,600 450,300.45 z"
                id="path16995" />
        </svg>
    </div>
    <div id="pause" onclick="stopAudio()" href="#"
        style="position: absolute; top: 183px; left: 14px; cursor: pointer; display: none;">
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg" id="pause-icon" version="1.1" height="50" width="50"
            viewBox="0 0 1200 1200">
            <path id="path15778"
                d="M 600,0 C 268.62914,0 0,268.62914 0,600 c 0,331.37086 268.62914,600 600,600 331.37086,0 600,-268.62914 600,-600 C 1200,268.62914 931.37086,0 600,0 z m -269.16515,289.38 181.71397,0 0,621.24 -181.71397,0 0,-621.24 z m 356.61633,0 181.71399,0 0,621.24 -181.71399,0 0,-621.24 z" />
        </svg>
    </div>
    <div id="meta"
        style="text-align: center; position: absolute; top: 182px; left: 72px; height: 52px; width: 212px; font-size: 16px;">
    </div>
    <audio id="player"></audio>
</div>

<script>if (window.module)
        module = window.module;</script>
<script src="../../js/embeds/guardian-ad.js" defer></script>