<script type="text/javascript" src="../../plugins/nativeflashradiov4/nativeflashradiov4.js"></script>
<div id="nativeflashradio" style="height:48px; width:100%;"></div>
<p style="text-align: center;" id="nowplaying"></p>
<script>if (window.module)
        module = window.module;</script>
<script src="../../plugins/wwsu-embeds/guardian.js" defer></script>