<!DOCTYPE html>
<html>
    <head>
        <script>if (typeof module === 'object') {
                window.module = module;
                module = undefined;
            }</script> 
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/jquery-ui.min.js"></script>
<script src="../../js/marquee.js"></script>
<script type="text/javascript" src="../../js/website/nativeflashradiov4.js"></script>
<script type="text/javascript" src="../../dependencies/sails.io.js"
  environment="production"></script>
        <meta charset="UTF-8">
        <style>
            body
            {
                overflow-x: hidden;
            }
        </style>
    </head>
    <body>
<%- body %>
</body>
</html>

