<!DOCTYPE html>
<html>
    <head>
        <script>if (typeof module === 'object') {
                window.module = module;
                module = undefined;
            }</script> 
<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="../../plugins/marquee/js/marquee.js"></script>
<script type="text/javascript" src="../../plugins/sails.io/sails.io.js"
  environment="production"></script>
        <meta charset="UTF-8">
        <style>
            body
            {
                overflow-x: hidden;
            }
        </style>
    </head>
    <body>
<%- body %>
</body>
</html>

