<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../../plugins/bootstrap/css/mytheme.min.css">
<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<title>WWSU Google Calendar Verifier</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<html>
<body>
<%- body %>
</body>
</html>