<h1>WWSU Google Calendar Verifier</h1>
<p>Note 1: This page only checks events for the next week.</p>
<p>Note 2: If you recently made changes to the Google Calendar, the changes might not reflect on this page until up to 5 minutes later.</p>
<table border="1" class="table table-hover" cellpadding="1" cellspacing="1" style="width: 100%;" id="results-table"> <tr>
</table>

<script src="../../js/calendar/verify.js"></script>
