<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../../styles/bootstrap/bootstrap.min.css">
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/moment.min.js"></script>
<script src="../../js/bootstrap/bootstrap.bundle.min.js"></script>
<title>WWSU Google Calendar Verifier</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<html>
<body>
<h1>WWSU Google Calendar Verifier</h1>
<p>Note 1: This page only checks events for the next week.</p>
<p>Note 2: If you recently made changes to the Google Calendar, the changes might not reflect on this page until up to one minute later.</p>
<table border="1" class="table table-hover" cellpadding="1" cellspacing="1" style="width: 100%;" id="results-table"> <tr>
</table>

<script src="../../js/calendar/verify.js"></script>
</body>
</html>
