<body>

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card card-outline card-danger p-3 shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title">WSU Score</h3>
                    </div>
                    <div class="card-body">
                            <p>
                                <div class="form-group">
                                    <label for="wsu-score">Current WSU Score</label>
                                    <input type="text" id="wsu-score" class="form-control" value="0" onchange="sports.updateValue('wsuScore', this.value)">
                                </div>
                            </p>
                            <button type="button" class="btn btn-secondary" onclick="wsuScore(1)" id="wsu-score-1">+1</button>
                            <button type="button" class="btn btn-success" onclick="wsuScore(2)" id="wsu-score-2">+2</button>
                            <button type="button" class="btn btn-danger" onclick="wsuScore(3)" id="wsu-score-3">+3</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card card-outline card-secondary p-3 shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title">Opponent Score</h3>
                    </div>
                    <div class="card-body">
                            <p>
            
                                <div class="form-group">
                                    <label for="opp-score">Current Opponent Score</label>
                                    <input type="text" id="opp-score" class="form-control" value="0" onchange="sports.updateValue('oppScore', this.value)">
                                </div>
                            </p>
                            <button type="button" class="btn btn-secondary" onclick="oppScore(1)" id="opp-score-1">+1</button>
                            <button type="button" class="btn btn-success" onclick="oppScore(2)" id="opp-score-2">+2</button>
                            <button type="button" class="btn btn-danger" onclick="oppScore(3)" id="opp-score-3">+3</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card card-outline card-info p-3 shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title">Timeouts</h3>
                    </div>
                    <div class="card-body">
                            <p>
                                <div class="form-group">
                                    <label for="wsu-timeouts">WSU Timeouts Remaining</label>
                                    <input type="text" id="wsu-timeouts" class="form-control" value="4" onchange="sports.updateValue('wsuTimeouts', this.value)">
                                </div>
            
                                <div class="form-group">
                                    <label for="opp-timeouts">Opponent Timeouts Remaining</label>
                                    <input type="text" id="opp-timeouts" class="form-control" value="4" onchange="sports.updateValue('oppTimeouts', this.value)">
                                </div>
                            </p>
                            <button type="button" class="btn btn-primary" id="wsu-timeout" onclick="wsuTimeout()">WSU took a Timeout</button>
                            <button type="button" class="btn btn-secondary" id="opp-timeout" onclick="oppTimeout()">Opponent took a Timeout</button>
                            <button type="button" class="btn btn-info" id="media-timeout" onclick="mediaTimeout()">Media Timeout</button>
                            <button type="button" class="btn btn-warning" id="ref-timeout" onclick="refReview()">Referee Review</button>
                            <button type="button" class="btn btn-danger" id="wsu-injury" onclick="wsuInjury()">WSU Player Injured</button>
                            <button type="button" class="btn btn-danger" id="opp-injury" onclick="oppInjury()">Opponent Player Injured</button>
                            <button type="button" class="btn btn-success" id="end-timeout" onclick="clearAlt()">Game Resumed</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card card-outline card-danger p-3 shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title">Team Fouls</h3>
                    </div>
                    <div class="card-body">
                            <p>
                                <div class="form-group">
                                    <label for="wsu-fould">WSU Team Fouls</label>
                                    <input type="text" id="wsu-fouls" class="form-control" value="0" onchange="sports.updateValue('wsuFouls', this.value)">
                                </div>
            
                                <div class="form-group">
                                    <label for="opp-fouls">Opponent Team Fouls</label>
                                    <input type="text" id="opp-fouls" class="form-control" value="0" onchange="sports.updateValue('oppFouls', this.value)">
                                </div>
                            </p>
                            <button type="button" class="btn btn-primary" id="wsu-foul" onclick="wsuFoul()">WSU Fouled</button>
                            <button type="button" class="btn btn-secondary" id="opp-foul" onclick="oppFoul()">Opponent Fouled</button>
                            <button type="button" class="btn btn-success" id="end-foul" onclick="clearAlt()">Game Resumed</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card card-outline card-warning p-3 shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title">Bottom Text</h3>
                    </div>
                    <div class="card-body">
                            <p>
                                <div class="form-group">
                                    <label for="wsu-text">WSU Below Name/Logo</label>
                                    <input type="text" id="wsu-text" class="form-control" placeholder="">
                                </div>
            
                                <div class="form-group">
                                    <label for="wsu-num">WSU Below Score</label>
                                    <input type="text" id="wsu-num" class="form-control" placeholder="">
                                </div>
            
                                <div class="form-group">
                                    <label for="opp-fouls">Opponent Below Name/Logo</label>
                                    <input type="text" id="opp-text" class="form-control" placeholder="">
                                </div>
            
                                <div class="form-group">
                                    <label for="opp-num">Opponent Below Score</label>
                                    <input type="text" id="opp-num" class="form-control" placeholder="">
                                </div>
                            </p>
                            <button type="button" class="btn btn-primary" id="show-alt" onclick="showAlt()">Show Text</button>
                            <button type="button" class="btn btn-success" id="end-alt" onclick="clearAlt()">Remove Text</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="../../plugins/wwsu-sports/remote.js?t=<%= timestamp %>" defer>

</script>
</body>
