<!DOCTYPE html>
<html>
  <head>
    <script>
      if (typeof module === "object") {
        window.module = module;
        module = undefined;
      }
    </script>

    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <title>Sports Overlay</title>

    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- JQuery BlockUI -->
    <script src="/plugins/jquery-blockui/jquery.blockUI.js"></script>

    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap multipleselect -->
    <link
      rel="stylesheet"
      href="/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css"
    />
    <script src="/plugins/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/plugins/animate/css/animate.css" />

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <script src="/plugins/fontawesome-free/js/fontawesome.js"></script>

    <!-- adminLTE -->
    <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.css" />
    <script src="/plugins/adminlte/js/adminlte.js"></script>

    <!-- lodash -->
    <script src="/plugins/lodash/lodash.min.js"></script>
    <!-- Taffy -->
    <script src="/plugins/taffydb/taffy-min.js"></script>

    <!-- Marquee -->
    <script src="/plugins/marquee/js/marquee.js"></script>

    <!-- Moment -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- Moment timezone -->
    <script src="/plugins/moment-timezone/moment-timezone-with-data.js"></script>
    <!-- Moment Duration Format -->
    <script src="/plugins/moment-duration-format/moment-duration-format.js"></script>

    <!--izi-->
    <link rel="stylesheet" href="/plugins/iziModal/css/iziModal.min.css" />
    <link rel="stylesheet" href="/plugins/iziToast/css/iziToast.min.css" />
    <script src="/plugins/iziModal/js/iziModal.min.js"></script>
    <script src="/plugins/iziToast/js/iziToast.min.js"></script>

    <!-- WWSU -->
    <script src="/plugins/sails.io/sails.io.js" autoConnect="false"></script>
    <script src="/plugins/wwsu-modules/js/wwsu-modules.js?t=202109241543"></script>
    <script src="/plugins/wwsu-sails/js/wwsu.js?t=202109241543"></script>
    <script src="/plugins/wwsu-sports/js/wwsu-sports.js?t=202109241543"></script>
  </head>

  <style>
    .bgoverlay {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  </style>
  <%- body %>
</html>
