<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>WWSU 106.9 FM Director's Corner</title>

    <style>
        .pace {
            -webkit-pointer-events: none;
            pointer-events: none;

            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;

            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;

            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;

            z-index: 2000;
            position: fixed;
            margin: auto;
            top: 12px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 200px;
            height: 50px;
            overflow: hidden;
        }

        .pace .pace-progress {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;

            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;

            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;

            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

            display: block;
            position: absolute;
            right: 100%;
            margin-right: -7px;
            width: 93%;
            top: 7px;
            height: 14px;
            font-size: 12px;
            background: #0000ff;
            color: #0000ff;
            line-height: 60px;
            font-weight: bold;
            font-family: Helvetica, Arial, "Lucida Grande", sans-serif;

            -webkit-box-shadow: 120px 0 #fff, 240px 0 #fff;
            -ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
            box-shadow: 120px 0 #fff, 240px 0 #fff;
        }

        .pace .pace-progress:after {
            content: attr(data-progress-text);
            display: inline-block;
            position: fixed;
            width: 45px;
            text-align: right;
            right: 0;
            padding-right: 16px;
            top: 4px;
        }

        .pace .pace-progress[data-progress-text="0%"]:after {
            right: -200px
        }

        .pace .pace-progress[data-progress-text="1%"]:after {
            right: -198.14px
        }

        .pace .pace-progress[data-progress-text="2%"]:after {
            right: -196.28px
        }

        .pace .pace-progress[data-progress-text="3%"]:after {
            right: -194.42px
        }

        .pace .pace-progress[data-progress-text="4%"]:after {
            right: -192.56px
        }

        .pace .pace-progress[data-progress-text="5%"]:after {
            right: -190.7px
        }

        .pace .pace-progress[data-progress-text="6%"]:after {
            right: -188.84px
        }

        .pace .pace-progress[data-progress-text="7%"]:after {
            right: -186.98px
        }

        .pace .pace-progress[data-progress-text="8%"]:after {
            right: -185.12px
        }

        .pace .pace-progress[data-progress-text="9%"]:after {
            right: -183.26px
        }

        .pace .pace-progress[data-progress-text="10%"]:after {
            right: -181.4px
        }

        .pace .pace-progress[data-progress-text="11%"]:after {
            right: -179.54px
        }

        .pace .pace-progress[data-progress-text="12%"]:after {
            right: -177.68px
        }

        .pace .pace-progress[data-progress-text="13%"]:after {
            right: -175.82px
        }

        .pace .pace-progress[data-progress-text="14%"]:after {
            right: -173.96px
        }

        .pace .pace-progress[data-progress-text="15%"]:after {
            right: -172.1px
        }

        .pace .pace-progress[data-progress-text="16%"]:after {
            right: -170.24px
        }

        .pace .pace-progress[data-progress-text="17%"]:after {
            right: -168.38px
        }

        .pace .pace-progress[data-progress-text="18%"]:after {
            right: -166.52px
        }

        .pace .pace-progress[data-progress-text="19%"]:after {
            right: -164.66px
        }

        .pace .pace-progress[data-progress-text="20%"]:after {
            right: -162.8px
        }

        .pace .pace-progress[data-progress-text="21%"]:after {
            right: -160.94px
        }

        .pace .pace-progress[data-progress-text="22%"]:after {
            right: -159.08px
        }

        .pace .pace-progress[data-progress-text="23%"]:after {
            right: -157.22px
        }

        .pace .pace-progress[data-progress-text="24%"]:after {
            right: -155.36px
        }

        .pace .pace-progress[data-progress-text="25%"]:after {
            right: -153.5px
        }

        .pace .pace-progress[data-progress-text="26%"]:after {
            right: -151.64px
        }

        .pace .pace-progress[data-progress-text="27%"]:after {
            right: -149.78px
        }

        .pace .pace-progress[data-progress-text="28%"]:after {
            right: -147.92px
        }

        .pace .pace-progress[data-progress-text="29%"]:after {
            right: -146.06px
        }

        .pace .pace-progress[data-progress-text="30%"]:after {
            right: -144.2px
        }

        .pace .pace-progress[data-progress-text="31%"]:after {
            right: -142.34px
        }

        .pace .pace-progress[data-progress-text="32%"]:after {
            right: -140.48px
        }

        .pace .pace-progress[data-progress-text="33%"]:after {
            right: -138.62px
        }

        .pace .pace-progress[data-progress-text="34%"]:after {
            right: -136.76px
        }

        .pace .pace-progress[data-progress-text="35%"]:after {
            right: -134.9px
        }

        .pace .pace-progress[data-progress-text="36%"]:after {
            right: -133.04px
        }

        .pace .pace-progress[data-progress-text="37%"]:after {
            right: -131.18px
        }

        .pace .pace-progress[data-progress-text="38%"]:after {
            right: -129.32px
        }

        .pace .pace-progress[data-progress-text="39%"]:after {
            right: -127.46px
        }

        .pace .pace-progress[data-progress-text="40%"]:after {
            right: -125.6px
        }

        .pace .pace-progress[data-progress-text="41%"]:after {
            right: -123.74px
        }

        .pace .pace-progress[data-progress-text="42%"]:after {
            right: -121.88px
        }

        .pace .pace-progress[data-progress-text="43%"]:after {
            right: -120.02px
        }

        .pace .pace-progress[data-progress-text="44%"]:after {
            right: -118.16px
        }

        .pace .pace-progress[data-progress-text="45%"]:after {
            right: -116.3px
        }

        .pace .pace-progress[data-progress-text="46%"]:after {
            right: -114.44px
        }

        .pace .pace-progress[data-progress-text="47%"]:after {
            right: -112.58px
        }

        .pace .pace-progress[data-progress-text="48%"]:after {
            right: -110.72px
        }

        .pace .pace-progress[data-progress-text="49%"]:after {
            right: -108.86px
        }

        .pace .pace-progress[data-progress-text="50%"]:after {
            right: -107px
        }

        .pace .pace-progress[data-progress-text="51%"]:after {
            right: -105.14px
        }

        .pace .pace-progress[data-progress-text="52%"]:after {
            right: -103.28px
        }

        .pace .pace-progress[data-progress-text="53%"]:after {
            right: -101.42px
        }

        .pace .pace-progress[data-progress-text="54%"]:after {
            right: -99.56px
        }

        .pace .pace-progress[data-progress-text="55%"]:after {
            right: -97.7px
        }

        .pace .pace-progress[data-progress-text="56%"]:after {
            right: -95.84px
        }

        .pace .pace-progress[data-progress-text="57%"]:after {
            right: -93.98px
        }

        .pace .pace-progress[data-progress-text="58%"]:after {
            right: -92.12px
        }

        .pace .pace-progress[data-progress-text="59%"]:after {
            right: -90.26px
        }

        .pace .pace-progress[data-progress-text="60%"]:after {
            right: -88.4px
        }

        .pace .pace-progress[data-progress-text="61%"]:after {
            right: -86.53999999999999px
        }

        .pace .pace-progress[data-progress-text="62%"]:after {
            right: -84.68px
        }

        .pace .pace-progress[data-progress-text="63%"]:after {
            right: -82.82px
        }

        .pace .pace-progress[data-progress-text="64%"]:after {
            right: -80.96000000000001px
        }

        .pace .pace-progress[data-progress-text="65%"]:after {
            right: -79.1px
        }

        .pace .pace-progress[data-progress-text="66%"]:after {
            right: -77.24px
        }

        .pace .pace-progress[data-progress-text="67%"]:after {
            right: -75.38px
        }

        .pace .pace-progress[data-progress-text="68%"]:after {
            right: -73.52px
        }

        .pace .pace-progress[data-progress-text="69%"]:after {
            right: -71.66px
        }

        .pace .pace-progress[data-progress-text="70%"]:after {
            right: -69.8px
        }

        .pace .pace-progress[data-progress-text="71%"]:after {
            right: -67.94px
        }

        .pace .pace-progress[data-progress-text="72%"]:after {
            right: -66.08px
        }

        .pace .pace-progress[data-progress-text="73%"]:after {
            right: -64.22px
        }

        .pace .pace-progress[data-progress-text="74%"]:after {
            right: -62.36px
        }

        .pace .pace-progress[data-progress-text="75%"]:after {
            right: -60.5px
        }

        .pace .pace-progress[data-progress-text="76%"]:after {
            right: -58.64px
        }

        .pace .pace-progress[data-progress-text="77%"]:after {
            right: -56.78px
        }

        .pace .pace-progress[data-progress-text="78%"]:after {
            right: -54.92px
        }

        .pace .pace-progress[data-progress-text="79%"]:after {
            right: -53.06px
        }

        .pace .pace-progress[data-progress-text="80%"]:after {
            right: -51.2px
        }

        .pace .pace-progress[data-progress-text="81%"]:after {
            right: -49.34px
        }

        .pace .pace-progress[data-progress-text="82%"]:after {
            right: -47.480000000000004px
        }

        .pace .pace-progress[data-progress-text="83%"]:after {
            right: -45.62px
        }

        .pace .pace-progress[data-progress-text="84%"]:after {
            right: -43.76px
        }

        .pace .pace-progress[data-progress-text="85%"]:after {
            right: -41.9px
        }

        .pace .pace-progress[data-progress-text="86%"]:after {
            right: -40.04px
        }

        .pace .pace-progress[data-progress-text="87%"]:after {
            right: -38.18px
        }

        .pace .pace-progress[data-progress-text="88%"]:after {
            right: -36.32px
        }

        .pace .pace-progress[data-progress-text="89%"]:after {
            right: -34.46px
        }

        .pace .pace-progress[data-progress-text="90%"]:after {
            right: -32.6px
        }

        .pace .pace-progress[data-progress-text="91%"]:after {
            right: -30.740000000000002px
        }

        .pace .pace-progress[data-progress-text="92%"]:after {
            right: -28.880000000000003px
        }

        .pace .pace-progress[data-progress-text="93%"]:after {
            right: -27.02px
        }

        .pace .pace-progress[data-progress-text="94%"]:after {
            right: -25.16px
        }

        .pace .pace-progress[data-progress-text="95%"]:after {
            right: -23.3px
        }

        .pace .pace-progress[data-progress-text="96%"]:after {
            right: -21.439999999999998px
        }

        .pace .pace-progress[data-progress-text="97%"]:after {
            right: -19.58px
        }

        .pace .pace-progress[data-progress-text="98%"]:after {
            right: -17.72px
        }

        .pace .pace-progress[data-progress-text="99%"]:after {
            right: -15.86px
        }

        .pace .pace-progress[data-progress-text="100%"]:after {
            right: -14px
        }


        .pace .pace-activity {
            position: absolute;
            width: 100%;
            height: 28px;
            z-index: 2001;
            box-shadow: inset 0 0 0 2px #0000ff, inset 0 0 0 7px #FFF;
            border-radius: 10px;
        }

        .pace.pace-inactive {
            display: none;
        }
    </style>

    <!-- pace-progress -->
    <script src="/plugins/pace-progress/pace.min.js"></script>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- JQuery BlockUI -->
    <script src="/plugins/jquery-blockui/js/jquery.blockUI.js"></script>
    <!-- JQuery multipleselect -->
    <link rel="stylesheet" href="/plugins/jquery-multipleselect/css/multiple-select.min.css">
    <script src="/plugins/jquery-multipleselect/js/multiple-select.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- lodash -->
    <script src="/plugins/lodash/js/lodash.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/plugins/adminlte/js/adminlte.js"></script>
    <!-- Mousewheel -->
    <script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Taffy -->
    <script src="/plugins/taffy/js/taffy.js"></script>
    <!-- Moment -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- Moment Duration Format -->
    <script src="/plugins/moment-duration-format/js/moment-duration-format.js"></script>
    <!-- Later -->
    <script src="/plugins/later/js/later.min.js"></script>
    <!-- Jdenticon -->
    <script src="/plugins/jdenticon/js/jdenticon.min.js"></script>
    <!--OneSignal-->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <!--EventEmitter-->
    <script src="/plugins/eventemitter/js/EventEmitter.min.js"></script>

    <!-- Summernote -->
    <script src="/plugins/summernote/summernote.min.js"></script>
    <link rel="stylesheet" href="/plugins/summernote/summernote.css">

    <!-- Bootstrap Tempus Dominus (datetimepicker) -->
    <link rel="stylesheet" href="/plugins/bootstrap-tempusdominus/css/tempusdominus-bootstrap-4.min.css">
    <script src="/plugins/bootstrap-tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Handlebars -->
    <script src="/plugins/handlebars/js/handlebars.min.js"></script>
    <!-- Alpaca (custom build) -->
    <script src="/plugins/alpaca/alpaca.js"></script>
    <link rel="stylesheet" href="/plugins/alpaca/alpaca.min.css">

    <!-- Datatables -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">

    <!--izi-->
    <link rel="stylesheet" href="/plugins/iziModal/css/iziModal.min.css">
    <link rel="stylesheet" href="/plugins/iziToast/css/iziToast.min.css">
    <script src="/plugins/iziModal/js/iziModal.min.js"></script>
    <script src="/plugins/iziToast/js/iziToast.min.js"></script>

    <!--FullCalendar-->
    <script src="/plugins/fullcalendar/main.min.js"></script>
    <script src="/plugins/fullcalendar-daygrid/main.min.js"></script>
    <script src="/plugins/fullcalendar-timegrid/main.min.js"></script>
    <script src="/plugins/fullcalendar-interaction/main.min.js"></script>
    <script src="/plugins/fullcalendar-list/main.min.js"></script>
    <link rel="stylesheet" href="/plugins/fullcalendar/main.min.css">
    <link rel="stylesheet" href="/plugins/fullcalendar-daygrid/main.min.css">
    <link rel="stylesheet" href="/plugins/fullcalendar-timegrid/main.min.css">
    <link rel="stylesheet" href="/plugins/fullcalendar-list/main.min.css">

    <!--WWSU-->
    <script src="/plugins/sails.io/sails.io.js" autoConnect="false"></script>
    <script src="/plugins/wwsu-sails/js/wwsu.js?v=202003300241"></script>
    <script src="/plugins/wwsu-navigation/js/wwsu-navigation.js?v=202003300241"></script>
    <script src="/plugins/wwsu-directors/js/wwsu-directors.js?v=202003300241"></script>
    <script src="/plugins/wwsu-djs/js/wwsu-djs.js?v=202003300241"></script>
    <script src="/plugins/wwsu-timesheet/js/wwsu-timesheet.js?v=202003300241"></script>
    <script src="/plugins/wwsu-subscriptions/js/wwsu-subscriptions.js?v=202003300241"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-web.js?v=202003300241"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-class.js?v=202003300241"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-form.js?v=202003300241"></script>
    <script src="/plugins/wwsu-website/wwsu-website-directors-v7.js?v=202003300241"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" title="Display / Hide Side Menu"><i
                            class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="https://wwsu1069.org" class="brand-link">
                <img src="/images/display/logo_true.png" alt="WWSU Logo"
                    class="brand-image img-circle bg-white elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">WWSU 106.9 FM</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">

                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="nav-timesheet" title="Timesheets">
                                <i class="nav-icon fas fa-user-clock"></i>
                                <p>
                                    Timesheets
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link" id="nav-calendar" title="Calendar">
                                <i class="nav-icon fas fa-calendar"></i>
                                <p>
                                    Calendar
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <section id="section-timesheet" style="display: none;">

            </section>


            <section id="section-calendar" style="display: none;">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-12">
                                <h1 class="m-0 text-dark">Calendar</h1>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>

                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Definitions</h4>
                                        </div>
                                        <div class="card-body">
                                            <p><strong>Event</strong>: Something that can be scheduled on the calendar.
                                                (Example: "DJ test - The test show")</p>
                                            <p><strong>Schedule</strong>: Collection of dates/times and/or recurrence
                                                rules defining when the event takes place on the calendar. (Example:
                                                "Tuesdays and Thursdays 9 - 10PM")</p>
                                            <p><strong>Occurrence</strong>: A specific/single date/time the event takes
                                                place. (Example: "February 30, 2000, 9 - 10PM")</p>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Step 1: Complete Prerequisites</h4>
                                        </div>
                                        <div class="card-body">
                                            <p><span class="badge bg-pink">Prerecord</span> and <span
                                                    class="badge badge-info">Playlist</span>: Ensure audio files are
                                                split in such a way the top-of-hour ID break will air on time. Import
                                                tracks into RadioDJ, and then create and save a playlist in the playlist
                                                builder. Note the playlist name you save as.</p>
                                            <p><span class="badge badge-primary">Genre</span>: In RadioDJ, make a track
                                                rotation and create a Manual Event that triggers the rotation. Note the
                                                event name you save as.</p>
                                            <p><span class="badge badge-danger">Show</span>, <span
                                                    class="badge bg-pink">Prerecord</span>, or <span
                                                    class="badge bg-indigo">Remote</span>: Click "Manage DJs" below to
                                                add host and co-host DJs to the system if they are not already in it.
                                            </p>
                                            <p><span class="badge badge-warning">Office Hours</span> and <span
                                                    class="badge bg-orange">Tasks</span>: Add the director in the system
                                                via DJ Controls if they have not already been added; directors cannot be
                                                added via the web calendar.</p>
                                            <button type="button"
                                                class="btn btn-block btn-danger btn-sm btn-manage-djs">Manage
                                                DJs</button>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Step 2: Manage Events / Schedules</h4>
                                        </div>
                                        <div class="card-body">
                                            <p>To add or edit an event or its schedule, click "Manage Events".</p>
                                            <p>To edit or cancel a single occurrence of an event, click it on the
                                                calendar.</p>
                                            <button type="button"
                                                class="btn btn-block btn-warning btn-sm btn-manage-events">Manage
                                                Events</button>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-lg-9">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Filter Calendar by Event Type</h4>
                                    </div>
                                    <div class="card-body container-fluid">
                                        <div class="row p-2">
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-danger">
                                                <input type="checkbox" class="custom-control-input" id="filter-show"
                                                    checked>
                                                <label class="custom-control-label" for="filter-show">Live Shows</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input" id="filter-sports"
                                                    checked>
                                                <label class="custom-control-label" for="filter-sports">Sports</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-indigo">
                                                <input type="checkbox" class="custom-control-input" id="filter-remote"
                                                    checked>
                                                <label class="custom-control-label" for="filter-remote">Remote
                                                    Broadcasts</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-pink">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="filter-prerecord" checked>
                                                <label class="custom-control-label"
                                                    for="filter-prerecord">Prerecords</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-info">
                                                <input type="checkbox" class="custom-control-input" id="filter-playlist"
                                                    checked>
                                                <label class="custom-control-label"
                                                    for="filter-playlist">Playlists</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-primary">
                                                <input type="checkbox" class="custom-control-input" id="filter-genre">
                                                <label class="custom-control-label" for="filter-genre">Genres</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-gray">
                                                <input type="checkbox" class="custom-control-input" id="filter-event">
                                                <label class="custom-control-label" for="filter-event">Manual
                                                    Events</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-warning">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="filter-office-hours">
                                                <label class="custom-control-label" for="filter-office-hours">Director
                                                    Office Hours</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-orange">
                                                <input type="checkbox" class="custom-control-input" id="filter-task">
                                                <label class="custom-control-label" for="filter-task">Director
                                                    Tasks</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-teal">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="filter-onair-booking">
                                                <label class="custom-control-label" for="filter-onair-booking">On-Air
                                                    Bookings</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-teal">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="filter-prod-booking">
                                                <label class="custom-control-label" for="filter-prod-booking">Production
                                                    Studio Bookings</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <div class="card card-primary">
                                    <div class="card-body p-0">
                                        <!-- THE CALENDAR -->
                                        <div id="calendar"></div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
    </div>

    <%- body %>
</body>

</html>