<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>WWSU 106.9 FM Director's Corner</title>

    <style>
 .pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
    </style>

    <!-- pace-progress -->
    <script src="/plugins/pace-progress/pace.min.js"></script>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- JQuery BlockUI -->
    <script src="/plugins/jquery-blockui/js/jquery.blockUI.js"></script>
    <!-- JQuery multipleselect -->
    <link rel="stylesheet" href="/plugins/jquery-multipleselect/css/multiple-select.min.css">
    <script src="/plugins/jquery-multipleselect/js/multiple-select.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- lodash -->
    <script src="/plugins/lodash/js/lodash.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/plugins/adminlte/js/adminlte.js"></script>
    <!-- Mousewheel -->
    <script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Taffy -->
    <script src="/plugins/taffy/js/taffy.js"></script>
    <!-- Moment -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- Moment Duration Format -->
    <script src="/plugins/moment-duration-format/js/moment-duration-format.js"></script>
    <!-- Later -->
    <script src="/plugins/later/js/later.min.js"></script>
    <!-- Jdenticon -->
    <script src="/plugins/jdenticon/js/jdenticon.min.js"></script>
    <!--OneSignal-->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <!--EventEmitter-->
    <script src="/plugins/eventemitter/js/EventEmitter.min.js"></script>

    <!-- Summernote -->
    <script src="/plugins/summernote/summernote.min.js"></script>
    <link rel="stylesheet" href="/plugins/summernote/summernote.css">

    <!-- Bootstrap Tempus Dominus (datetimepicker) -->
    <link rel="stylesheet" href="/plugins/bootstrap-tempusdominus/css/tempusdominus-bootstrap-4.min.css">
    <script src="/plugins/bootstrap-tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Handlebars -->
    <script src="/plugins/handlebars/js/handlebars.min.js"></script>
    <!-- Alpaca (custom build) -->
    <script src="/plugins/alpaca/alpaca.js"></script>
    <link rel="stylesheet" href="/plugins/alpaca/alpaca.min.css">

    <!-- Datatables -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">

    <!--izi-->
    <link rel="stylesheet" href="/plugins/iziModal/css/iziModal.min.css">
    <link rel="stylesheet" href="/plugins/iziToast/css/iziToast.min.css">
    <script src="/plugins/iziModal/js/iziModal.min.js"></script>
    <script src="/plugins/iziToast/js/iziToast.min.js"></script>

    <!--FullCalendar-->
    <script src="/plugins/fullcalendar/main.min.js"></script>
    <script src="/plugins/fullcalendar-daygrid/main.min.js"></script>
    <script src="/plugins/fullcalendar-timegrid/main.min.js"></script>
    <script src="/plugins/fullcalendar-interaction/main.min.js"></script>
    <script src="/plugins/fullcalendar-list/main.min.js"></script>
    <link rel="stylesheet" href="/plugins/fullcalendar/main.min.css">
    <link rel="stylesheet" href="/plugins/fullcalendar-daygrid/main.min.css">
    <link rel="stylesheet" href="/plugins/fullcalendar-timegrid/main.min.css">
    <link rel="stylesheet" href="/plugins/fullcalendar-list/main.min.css">

    <!--WWSU-->
    <script src="/plugins/sails.io/sails.io.js" autoConnect="false"></script>
    <script src="/plugins/wwsu-sails/js/wwsu.js?v=202003300241"></script>
    <script src="/plugins/wwsu-navigation/js/wwsu-navigation.js?v=202003300241"></script>
    <script src="/plugins/wwsu-directors/js/wwsu-directors.js?v=202003300241"></script>
    <script src="/plugins/wwsu-djs/js/wwsu-djs.js?v=202003300241"></script>
    <script src="/plugins/wwsu-timesheet/js/wwsu-timesheet.js?v=202003300241"></script>
    <script src="/plugins/wwsu-subscriptions/js/wwsu-subscriptions.js?v=202003300241"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-web.js?v=202003300241"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-class.js?v=202003300241"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-form.js?v=202003300241"></script>
    <script src="/plugins/wwsu-website/wwsu-website-directors-v7.js?v=202003300241"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" title="Display / Hide Side Menu"><i
                            class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="https://wwsu1069.org" class="brand-link">
                <img src="/images/display/logo_true.png" alt="WWSU Logo"
                    class="brand-image img-circle bg-white elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">WWSU 106.9 FM</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">

                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="nav-timesheet" title="Timesheets">
                                <i class="nav-icon fas fa-user-clock"></i>
                                <p>
                                    Timesheets
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link" id="nav-calendar" title="Calendar">
                                <i class="nav-icon fas fa-calendar"></i>
                                <p>
                                    Calendar
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <section id="section-timesheet" style="display: none;">

            </section>


            <section id="section-calendar" style="display: none;">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-12">
                                <h1 class="m-0 text-dark">Calendar</h1>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>

                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Definitions</h4>
                                        </div>
                                        <div class="card-body">
                                            <p><strong>Event</strong>: Something that can be scheduled on the calendar.
                                                (Example: "DJ test - The test show")</p>
                                            <p><strong>Schedule</strong>: Collection of dates/times and/or recurrence
                                                rules defining when the event takes place on the calendar. (Example:
                                                "Tuesdays and Thursdays 9 - 10PM")</p>
                                            <p><strong>Occurrence</strong>: A specific/single date/time the event takes
                                                place. (Example: "February 30, 2000, 9 - 10PM")</p>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Step 1: Complete Prerequisites</h4>
                                        </div>
                                        <div class="card-body">
                                            <p><span class="badge bg-pink">Prerecord</span> and <span
                                                    class="badge badge-info">Playlist</span>: Ensure audio files are
                                                split in such a way the top-of-hour ID break will air on time. Import
                                                tracks into RadioDJ, and then create and save a playlist in the playlist
                                                builder. Note the playlist name you save as.</p>
                                            <p><span class="badge badge-primary">Genre</span>: In RadioDJ, make a track
                                                rotation and create a Manual Event that triggers the rotation. Note the
                                                event name you save as.</p>
                                            <p><span class="badge badge-danger">Show</span>, <span
                                                    class="badge bg-pink">Prerecord</span>, or <span
                                                    class="badge bg-indigo">Remote</span>: Click "Manage DJs" below to
                                                add host and co-host DJs to the system if they are not already in it.
                                            </p>
                                            <p><span class="badge badge-warning">Office Hours</span> and <span
                                                    class="badge bg-orange">Tasks</span>: Add the director in the system
                                                via DJ Controls if they have not already been added; directors cannot be
                                                added via the web calendar.</p>
                                            <button type="button"
                                                class="btn btn-block btn-danger btn-sm btn-manage-djs">Manage
                                                DJs</button>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Step 2: Manage Events / Schedules</h4>
                                        </div>
                                        <div class="card-body">
                                            <p>To add or edit an event or its schedule, click "Manage Events".</p>
                                            <p>To edit or cancel a single occurrence of an event, click it on the
                                                calendar.</p>
                                            <button type="button"
                                                class="btn btn-block btn-warning btn-sm btn-manage-events">Manage
                                                Events</button>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-lg-9">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Filter Calendar by Event Type</h4>
                                    </div>
                                    <div class="card-body container-fluid">
                                        <div class="row p-2">
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-danger">
                                                <input type="checkbox" class="custom-control-input" id="filter-show"
                                                    checked>
                                                <label class="custom-control-label" for="filter-show">Live Shows</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input" id="filter-sports"
                                                    checked>
                                                <label class="custom-control-label" for="filter-sports">Sports</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-indigo">
                                                <input type="checkbox" class="custom-control-input" id="filter-remote"
                                                    checked>
                                                <label class="custom-control-label" for="filter-remote">Remote
                                                    Broadcasts</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-pink">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="filter-prerecord" checked>
                                                <label class="custom-control-label"
                                                    for="filter-prerecord">Prerecords</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-info">
                                                <input type="checkbox" class="custom-control-input" id="filter-playlist"
                                                    checked>
                                                <label class="custom-control-label"
                                                    for="filter-playlist">Playlists</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-primary">
                                                <input type="checkbox" class="custom-control-input" id="filter-genre">
                                                <label class="custom-control-label" for="filter-genre">Genres</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-gray">
                                                <input type="checkbox" class="custom-control-input" id="filter-event">
                                                <label class="custom-control-label" for="filter-event">Manual
                                                    Events</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-warning">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="filter-office-hours">
                                                <label class="custom-control-label" for="filter-office-hours">Director
                                                    Office Hours</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-orange">
                                                <input type="checkbox" class="custom-control-input" id="filter-task">
                                                <label class="custom-control-label" for="filter-task">Director
                                                    Tasks</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-teal">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="filter-onair-booking">
                                                <label class="custom-control-label" for="filter-onair-booking">On-Air
                                                    Bookings</label>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-teal">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="filter-prod-booking">
                                                <label class="custom-control-label" for="filter-prod-booking">Production
                                                    Studio Bookings</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <div class="card card-primary">
                                    <div class="card-body p-0">
                                        <!-- THE CALENDAR -->
                                        <div id="calendar"></div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
    </div>

    <%- body %>
</body>

</html>