<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>WWSU 106.9 FM Director's Corner</title>

    <style>
      .pace {
        -webkit-pointer-events: none;
        pointer-events: none;

        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .pace-inactive {
        display: none;
      }

      .pace .pace-progress {
        background: #29d;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
      }
    </style>

    <!-- pace-progress -->
    <script src="/plugins/pace-progress/pace.min.js"></script>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- JQuery BlockUI -->
    <script src="/plugins/jquery-blockui/js/jquery.blockUI.js"></script>
    <!-- JQuery multipleselect -->
    <link
      rel="stylesheet"
      href="/plugins/jquery-multipleselect/css/multiple-select.min.css"
    />
    <script src="/plugins/jquery-multipleselect/js/multiple-select.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- lodash -->
    <script src="/plugins/lodash/js/lodash.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/plugins/adminlte/js/adminlte.js"></script>
    <!-- Mousewheel -->
    <script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>

    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Taffy -->
    <script src="/plugins/taffy/js/taffy.js"></script>
    <!-- Moment -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- Moment timezone -->
    <script src="/plugins/moment-timezone/js/moment-timezone-with-data.js"></script>
    <!-- Moment Duration Format -->
    <script src="/plugins/moment-duration-format/js/moment-duration-format.js"></script>
    <!-- Moment Recur -->
    <script src="/plugins/moment-recur-ts/js/moment-recur-ts.js"></script>
    <!-- Jdenticon -->
    <script src="/plugins/jdenticon/js/jdenticon.min.js"></script>
    <!--OneSignal-->
    <script
      src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"
      async=""
    ></script>

    <!-- Summernote -->
    <script src="/plugins/summernote/summernote.min.js"></script>
    <link rel="stylesheet" href="/plugins/summernote/summernote.css" />

    <!-- Bootstrap Tempus Dominus (datetimepicker) -->
    <link
      rel="stylesheet"
      href="/plugins/bootstrap-tempusdominus/css/tempusdominus-bootstrap-4.min.css"
    />
    <script src="/plugins/bootstrap-tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Handlebars -->
    <script src="/plugins/handlebars/js/handlebars.min.js"></script>
    <!-- Alpaca (custom build) -->
    <script src="/plugins/alpaca-wwsu/alpaca.js"></script>
    <link rel="stylesheet" href="/plugins/alpaca-wwsu/alpaca.min.css" />

    <!-- Datatables -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <link
      rel="stylesheet"
      href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
    />

    <!--izi-->
    <link rel="stylesheet" href="/plugins/iziModal/css/iziModal.min.css" />
    <link rel="stylesheet" href="/plugins/iziToast/css/iziToast.min.css" />
    <script src="/plugins/iziModal/js/iziModal.min.js"></script>
    <script src="/plugins/iziToast/js/iziToast.min.js"></script>

    <!--FullCalendar-->
    <script src="/plugins/fullcalendar/main.min.js"></script>
    <script src="/plugins/fullcalendar-bootstrap/main.min.js"></script>
    <script src="/plugins/fullcalendar-daygrid/main.min.js"></script>
    <script src="/plugins/fullcalendar-timegrid/main.min.js"></script>
    <script src="/plugins/fullcalendar-interaction/main.min.js"></script>
    <script src="/plugins/fullcalendar-list/main.min.js"></script>
    <link rel="stylesheet" href="/plugins/fullcalendar/main.min.css" />
    <link
      rel="stylesheet"
      href="/plugins/fullcalendar-bootstrap/main.min.css"
    />
    <link rel="stylesheet" href="/plugins/fullcalendar-daygrid/main.min.css" />
    <link rel="stylesheet" href="/plugins/fullcalendar-timegrid/main.min.css" />
    <link rel="stylesheet" href="/plugins/fullcalendar-list/main.min.css" />

    <!--WWSU-->
    <script src="/plugins/sails.io/sails.io.js" autoConnect="false"></script>
    <script src="/plugins/wwsu-sails/js/wwsu.js?v=202008081820"></script>
    <script src="/plugins/wwsu-navigation/js/wwsu-navigation.js?v=202008081820"></script>
    <script src="/plugins/wwsu-directors/js/wwsu-directors.js?v=202008081820"></script>
    <script src="/plugins/wwsu-discipline/js/wwsu-discipline.js?v=202008081820"></script>
    <script src="/plugins/wwsu-djs/js/wwsu-djs.js?v=202008081820"></script>
    <script src="/plugins/wwsu-meta/js/wwsu-meta.js?v=202008081820"></script>
    <script src="/plugins/wwsu-timesheet/js/wwsu-timesheet.js?v=202008081820"></script>
    <script src="/plugins/wwsu-subscriptions/js/wwsu-subscriptions.js?v=202008081820"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-web.js?v=202008081820"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-class.js?v=202008081820"></script>
    <script src="/plugins/wwsu-website/wwsu-website-directors-v7.js?v=202008081820"></script>
  </head>

  <body
    class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed"
  >
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              data-widget="pushmenu"
              href="#"
              title="Display / Hide Side Menu"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="https://wwsu1069.org" class="brand-link">
          <img
            src="/images/display/logo_true.png"
            alt="WWSU Logo"
            class="brand-image img-circle bg-white elevation-3"
            style="opacity: 0.8;"
          />
          <span class="brand-text font-weight-light">WWSU 106.9 FM</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link"
                  id="nav-timesheet"
                  title="Timesheets"
                >
                  <i class="nav-icon fas fa-user-clock"></i>
                  <p>
                    Timesheets
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link" id="nav-calendar" title="Calendar">
                  <i class="nav-icon fas fa-calendar"></i>
                  <p>
                    Calendar
                  </p>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <section id="section-timesheet" style="display: none;"></section>

        <section id="section-calendar" style="display: none;">
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-12">
                  <h1 class="m-0 text-dark">Calendar</h1>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>

          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <!-- /.col -->
                <div class="col">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Info / Tasks</h4>
                    </div>
                    <div class="card-body container-fluid">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-12 col-md-6 col-lg-3">
                            <button
                              type="button"
                              class="btn btn-block btn-info btn-sm btn-calendar-definitions"
                              title="Open a pop-up explaining what an event, schedule, and occurrence is."
                            >
                              Definitions
                            </button>
                          </div>
                          <div class="col-12 col-md-6 col-lg-3">
                            <button
                              type="button"
                              class="btn btn-block btn-info btn-sm btn-calendar-prerequisites"
                              title="Open a pop-up explaining what must be done for different types of events before adding them to the calendar."
                            >
                              Prerequisites
                            </button>
                          </div>
                          <div class="col-12 col-md-6 col-lg-3">
                            <button
                              type="button"
                              class="btn btn-block btn-warning btn-sm btn-manage-djs"
                              title="Manage the DJs in the system"
                            >
                              Manage DJs
                            </button>
                          </div>
                          <div class="col-12 col-md-6 col-lg-3">
                            <button
                              type="button"
                              class="btn btn-block btn-warning btn-sm btn-manage-events"
                              title="Add, edit, and remove events and their schedules (for occurrences, use the calendar)."
                            >
                              Manage Events / Schedules
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">
                        Filter Calendar by Event Type
                      </h4>
                    </div>
                    <div class="card-body container-fluid">
                      <div class="row p-2">
                        <div
                          class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-danger"
                          title="Show live shows on calendar?"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="filter-show"
                            checked
                          />
                          <label class="custom-control-label" for="filter-show"
                            >Live Shows</label
                          >
                        </div>
                        <div
                          class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-success"
                          title="Show sports broadcasts on calendar?"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="filter-sports"
                            checked
                          />
                          <label
                            class="custom-control-label"
                            for="filter-sports"
                            >Sports</label
                          >
                        </div>
                        <div
                          class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-indigo"
                          title="Show remote broadcasts on calendar?"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="filter-remote"
                            checked
                          />
                          <label
                            class="custom-control-label"
                            for="filter-remote"
                            >Remote Broadcasts</label
                          >
                        </div>
                        <div
                          class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-pink"
                          title="Show prerecords on calendar?"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="filter-prerecord"
                            checked
                          />
                          <label
                            class="custom-control-label"
                            for="filter-prerecord"
                            >Prerecords</label
                          >
                        </div>
                        <div
                          class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-info"
                          title="Show playlists on calendar?"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="filter-playlist"
                            checked
                          />
                          <label
                            class="custom-control-label"
                            for="filter-playlist"
                            >Playlists</label
                          >
                        </div>
                        <div
                          class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-primary"
                          title="Show genre rotations on calendar?"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="filter-genre"
                          />
                          <label class="custom-control-label" for="filter-genre"
                            >Genres</label
                          >
                        </div>
                        <div
                          class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-gray"
                          title="Show manual events on calendar?"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="filter-event"
                          />
                          <label class="custom-control-label" for="filter-event"
                            >Manual Events</label
                          >
                        </div>
                        <div
                          class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-warning"
                          title="Show office hours on calendar?"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="filter-office-hours"
                          />
                          <label
                            class="custom-control-label"
                            for="filter-office-hours"
                            >Director Office Hours</label
                          >
                        </div>
                        <div
                          class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-orange"
                          title="Show tasks on calendar?"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="filter-task"
                          />
                          <label class="custom-control-label" for="filter-task"
                            >Director Tasks</label
                          >
                        </div>
                        <div
                          class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-teal"
                          title="Show reservations for the on-air studio on calendar?"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="filter-onair-booking"
                          />
                          <label
                            class="custom-control-label"
                            for="filter-onair-booking"
                            >On-Air Bookings</label
                          >
                        </div>
                        <div
                          class="col-md-4 col-sm-6 custom-control custom-switch custom-switch-on-teal"
                          title="Show reservations for the production studio on calendar?"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="filter-prod-booking"
                          />
                          <label
                            class="custom-control-label"
                            for="filter-prod-booking"
                            >Production Studio Bookings</label
                          >
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <div class="card card-primary">
                    <div class="card-body p-0">
                      <p class="p-1">
                        <strong
                          >All event times are displayed in your local time
                          zone, but you will use the station timezone when
                          specifying times in schedules.</strong
                        >
                      </p>
                      <!-- THE CALENDAR -->
                      <div id="calendar"></div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
        </section>
      </div>
      <!-- /.content-wrapper -->
    </div>

    <%- body %>
  </body>
</html>
