<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>WWSU 106.9 FM</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <!-- REQUIRED SCRIPTS -->
  <!-- jQuery -->
  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- Mousewheel -->
  <script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
  <!-- Bootstrap -->
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/plugins/adminlte/js/adminlte.js"></script>
  <!-- Taffy -->
  <script src="/plugins/taffy/js/taffy-min.js"></script>
  <!-- Moment -->
  <script src="/plugins/moment/moment.min.js"></script>
  <!-- Moment Duration Format -->
  <script src="/plugins/moment-duration-format/js/moment-duration-format.js"></script>
  <!-- Later -->
  <script src="/plugins/later/js/later.min.js"></script>
  <!-- Jdenticon -->
  <script src="/plugins/jdenticon/js/jdenticon.min.js"></script>
  <!--OneSignal-->
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>

  <!--WWSU-->
  <script src="/plugins/sails.io/sails.io.js" autoConnect="false"></script>
  <script src="/plugins/nativeflashradiov4/nativeflashradiov4.js"></script>
  <script src="/plugins/wwsu-sails/js/wwsu.js"></script>
  <script src="/plugins/wwsu-navigation/js/wwsu-navigation.js"></script>
  <script src="/plugins/wwsu-calendar/js/wwsu-calendar-web.js"></script>
  <script src="/plugins/wwsu-website/wwsu-website-v7.js"></script>
</head>

<%- body %>

</html>