<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>WWSU 106.9 FM</title>

  <!-- Pace progress style -->
  <style>
    .pace {
      -webkit-pointer-events: none;
      pointer-events: none;

      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;

      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;

      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;

      z-index: 2000;
      position: fixed;
      margin: auto;
      top: 12px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 200px;
      height: 50px;
      overflow: hidden;
    }

    .pace .pace-progress {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;

      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;

      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;

      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);

      display: block;
      position: absolute;
      right: 100%;
      margin-right: -7px;
      width: 93%;
      top: 7px;
      height: 14px;
      font-size: 12px;
      background: #0000ff;
      color: #0000ff;
      line-height: 60px;
      font-weight: bold;
      font-family: Helvetica, Arial, "Lucida Grande", sans-serif;

      -webkit-box-shadow: 120px 0 #fff, 240px 0 #fff;
      -ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
      box-shadow: 120px 0 #fff, 240px 0 #fff;
    }

    .pace .pace-progress:after {
      content: attr(data-progress-text);
      display: inline-block;
      position: fixed;
      width: 45px;
      text-align: right;
      right: 0;
      padding-right: 16px;
      top: 4px;
    }

    .pace .pace-progress[data-progress-text="0%"]:after {
      right: -200px
    }

    .pace .pace-progress[data-progress-text="1%"]:after {
      right: -198.14px
    }

    .pace .pace-progress[data-progress-text="2%"]:after {
      right: -196.28px
    }

    .pace .pace-progress[data-progress-text="3%"]:after {
      right: -194.42px
    }

    .pace .pace-progress[data-progress-text="4%"]:after {
      right: -192.56px
    }

    .pace .pace-progress[data-progress-text="5%"]:after {
      right: -190.7px
    }

    .pace .pace-progress[data-progress-text="6%"]:after {
      right: -188.84px
    }

    .pace .pace-progress[data-progress-text="7%"]:after {
      right: -186.98px
    }

    .pace .pace-progress[data-progress-text="8%"]:after {
      right: -185.12px
    }

    .pace .pace-progress[data-progress-text="9%"]:after {
      right: -183.26px
    }

    .pace .pace-progress[data-progress-text="10%"]:after {
      right: -181.4px
    }

    .pace .pace-progress[data-progress-text="11%"]:after {
      right: -179.54px
    }

    .pace .pace-progress[data-progress-text="12%"]:after {
      right: -177.68px
    }

    .pace .pace-progress[data-progress-text="13%"]:after {
      right: -175.82px
    }

    .pace .pace-progress[data-progress-text="14%"]:after {
      right: -173.96px
    }

    .pace .pace-progress[data-progress-text="15%"]:after {
      right: -172.1px
    }

    .pace .pace-progress[data-progress-text="16%"]:after {
      right: -170.24px
    }

    .pace .pace-progress[data-progress-text="17%"]:after {
      right: -168.38px
    }

    .pace .pace-progress[data-progress-text="18%"]:after {
      right: -166.52px
    }

    .pace .pace-progress[data-progress-text="19%"]:after {
      right: -164.66px
    }

    .pace .pace-progress[data-progress-text="20%"]:after {
      right: -162.8px
    }

    .pace .pace-progress[data-progress-text="21%"]:after {
      right: -160.94px
    }

    .pace .pace-progress[data-progress-text="22%"]:after {
      right: -159.08px
    }

    .pace .pace-progress[data-progress-text="23%"]:after {
      right: -157.22px
    }

    .pace .pace-progress[data-progress-text="24%"]:after {
      right: -155.36px
    }

    .pace .pace-progress[data-progress-text="25%"]:after {
      right: -153.5px
    }

    .pace .pace-progress[data-progress-text="26%"]:after {
      right: -151.64px
    }

    .pace .pace-progress[data-progress-text="27%"]:after {
      right: -149.78px
    }

    .pace .pace-progress[data-progress-text="28%"]:after {
      right: -147.92px
    }

    .pace .pace-progress[data-progress-text="29%"]:after {
      right: -146.06px
    }

    .pace .pace-progress[data-progress-text="30%"]:after {
      right: -144.2px
    }

    .pace .pace-progress[data-progress-text="31%"]:after {
      right: -142.34px
    }

    .pace .pace-progress[data-progress-text="32%"]:after {
      right: -140.48px
    }

    .pace .pace-progress[data-progress-text="33%"]:after {
      right: -138.62px
    }

    .pace .pace-progress[data-progress-text="34%"]:after {
      right: -136.76px
    }

    .pace .pace-progress[data-progress-text="35%"]:after {
      right: -134.9px
    }

    .pace .pace-progress[data-progress-text="36%"]:after {
      right: -133.04px
    }

    .pace .pace-progress[data-progress-text="37%"]:after {
      right: -131.18px
    }

    .pace .pace-progress[data-progress-text="38%"]:after {
      right: -129.32px
    }

    .pace .pace-progress[data-progress-text="39%"]:after {
      right: -127.46px
    }

    .pace .pace-progress[data-progress-text="40%"]:after {
      right: -125.6px
    }

    .pace .pace-progress[data-progress-text="41%"]:after {
      right: -123.74px
    }

    .pace .pace-progress[data-progress-text="42%"]:after {
      right: -121.88px
    }

    .pace .pace-progress[data-progress-text="43%"]:after {
      right: -120.02px
    }

    .pace .pace-progress[data-progress-text="44%"]:after {
      right: -118.16px
    }

    .pace .pace-progress[data-progress-text="45%"]:after {
      right: -116.3px
    }

    .pace .pace-progress[data-progress-text="46%"]:after {
      right: -114.44px
    }

    .pace .pace-progress[data-progress-text="47%"]:after {
      right: -112.58px
    }

    .pace .pace-progress[data-progress-text="48%"]:after {
      right: -110.72px
    }

    .pace .pace-progress[data-progress-text="49%"]:after {
      right: -108.86px
    }

    .pace .pace-progress[data-progress-text="50%"]:after {
      right: -107px
    }

    .pace .pace-progress[data-progress-text="51%"]:after {
      right: -105.14px
    }

    .pace .pace-progress[data-progress-text="52%"]:after {
      right: -103.28px
    }

    .pace .pace-progress[data-progress-text="53%"]:after {
      right: -101.42px
    }

    .pace .pace-progress[data-progress-text="54%"]:after {
      right: -99.56px
    }

    .pace .pace-progress[data-progress-text="55%"]:after {
      right: -97.7px
    }

    .pace .pace-progress[data-progress-text="56%"]:after {
      right: -95.84px
    }

    .pace .pace-progress[data-progress-text="57%"]:after {
      right: -93.98px
    }

    .pace .pace-progress[data-progress-text="58%"]:after {
      right: -92.12px
    }

    .pace .pace-progress[data-progress-text="59%"]:after {
      right: -90.26px
    }

    .pace .pace-progress[data-progress-text="60%"]:after {
      right: -88.4px
    }

    .pace .pace-progress[data-progress-text="61%"]:after {
      right: -86.53999999999999px
    }

    .pace .pace-progress[data-progress-text="62%"]:after {
      right: -84.68px
    }

    .pace .pace-progress[data-progress-text="63%"]:after {
      right: -82.82px
    }

    .pace .pace-progress[data-progress-text="64%"]:after {
      right: -80.96000000000001px
    }

    .pace .pace-progress[data-progress-text="65%"]:after {
      right: -79.1px
    }

    .pace .pace-progress[data-progress-text="66%"]:after {
      right: -77.24px
    }

    .pace .pace-progress[data-progress-text="67%"]:after {
      right: -75.38px
    }

    .pace .pace-progress[data-progress-text="68%"]:after {
      right: -73.52px
    }

    .pace .pace-progress[data-progress-text="69%"]:after {
      right: -71.66px
    }

    .pace .pace-progress[data-progress-text="70%"]:after {
      right: -69.8px
    }

    .pace .pace-progress[data-progress-text="71%"]:after {
      right: -67.94px
    }

    .pace .pace-progress[data-progress-text="72%"]:after {
      right: -66.08px
    }

    .pace .pace-progress[data-progress-text="73%"]:after {
      right: -64.22px
    }

    .pace .pace-progress[data-progress-text="74%"]:after {
      right: -62.36px
    }

    .pace .pace-progress[data-progress-text="75%"]:after {
      right: -60.5px
    }

    .pace .pace-progress[data-progress-text="76%"]:after {
      right: -58.64px
    }

    .pace .pace-progress[data-progress-text="77%"]:after {
      right: -56.78px
    }

    .pace .pace-progress[data-progress-text="78%"]:after {
      right: -54.92px
    }

    .pace .pace-progress[data-progress-text="79%"]:after {
      right: -53.06px
    }

    .pace .pace-progress[data-progress-text="80%"]:after {
      right: -51.2px
    }

    .pace .pace-progress[data-progress-text="81%"]:after {
      right: -49.34px
    }

    .pace .pace-progress[data-progress-text="82%"]:after {
      right: -47.480000000000004px
    }

    .pace .pace-progress[data-progress-text="83%"]:after {
      right: -45.62px
    }

    .pace .pace-progress[data-progress-text="84%"]:after {
      right: -43.76px
    }

    .pace .pace-progress[data-progress-text="85%"]:after {
      right: -41.9px
    }

    .pace .pace-progress[data-progress-text="86%"]:after {
      right: -40.04px
    }

    .pace .pace-progress[data-progress-text="87%"]:after {
      right: -38.18px
    }

    .pace .pace-progress[data-progress-text="88%"]:after {
      right: -36.32px
    }

    .pace .pace-progress[data-progress-text="89%"]:after {
      right: -34.46px
    }

    .pace .pace-progress[data-progress-text="90%"]:after {
      right: -32.6px
    }

    .pace .pace-progress[data-progress-text="91%"]:after {
      right: -30.740000000000002px
    }

    .pace .pace-progress[data-progress-text="92%"]:after {
      right: -28.880000000000003px
    }

    .pace .pace-progress[data-progress-text="93%"]:after {
      right: -27.02px
    }

    .pace .pace-progress[data-progress-text="94%"]:after {
      right: -25.16px
    }

    .pace .pace-progress[data-progress-text="95%"]:after {
      right: -23.3px
    }

    .pace .pace-progress[data-progress-text="96%"]:after {
      right: -21.439999999999998px
    }

    .pace .pace-progress[data-progress-text="97%"]:after {
      right: -19.58px
    }

    .pace .pace-progress[data-progress-text="98%"]:after {
      right: -17.72px
    }

    .pace .pace-progress[data-progress-text="99%"]:after {
      right: -15.86px
    }

    .pace .pace-progress[data-progress-text="100%"]:after {
      right: -14px
    }


    .pace .pace-activity {
      position: absolute;
      width: 100%;
      height: 28px;
      z-index: 2001;
      box-shadow: inset 0 0 0 2px #0000ff, inset 0 0 0 7px #FFF;
      border-radius: 10px;
    }

    .pace.pace-inactive {
      display: none;
    }
  </style>
  <!-- pace-progress -->
  <script src="/plugins/pace-progress/pace.min.js"></script>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <!-- jQuery -->
  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- Mousewheel -->
  <script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
  <!-- Bootstrap -->
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/plugins/adminlte/js/adminlte.js"></script>
  <!-- Taffy -->
  <script src="/plugins/taffy/js/taffy-min.js"></script>
  <!-- Moment -->
  <script src="/plugins/moment/moment.min.js"></script>
  <!-- Moment Duration Format -->
  <script src="/plugins/moment-duration-format/js/moment-duration-format.js"></script>
  <!-- Later -->
  <script src="/plugins/later/js/later.min.js"></script>
  <!-- Jdenticon -->
  <script src="/plugins/jdenticon/js/jdenticon.min.js"></script>
  <!--OneSignal-->
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <!--EventEmitter-->
  <script src="/plugins/eventemitter/js/EventEmitter.min.js"></script>

  <!--WWSU-->
  <script src="/plugins/sails.io/sails.io.js" autoConnect="false"></script>
  <script src="/plugins/nativeflashradiov4/nativeflashradiov4.js"></script>
  <script src="/plugins/wwsu-sails/js/wwsu.js?v=202003300241"></script>
  <script src="/plugins/wwsu-navigation/js/wwsu-navigation.js?v=202003300241"></script>
  <script src="/plugins/wwsu-calendar/js/wwsu-calendar-web.js?v=202003300241"></script>
  <script src="/plugins/wwsu-meta/js/wwsu-meta.js?v=202003300241"></script>
  <script src="/plugins/wwsu-subscriptions/js/wwsu-subscriptions.js?v=202003300241"></script>
  <script src="/plugins/wwsu-likedtracks/js/wwsu-likedtracks.js?v=202003300241"></script>
  <script src="/plugins/wwsu-announcements/js/wwsu-announcements.js?v=202003300241"></script>
  <script src="/plugins/wwsu-website/wwsu-website-v7.js?v=202003300241"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" title="Display / Hide Side Menu"><i
              class="fas fa-bars"></i></a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="https://wwsu1069.org" class="brand-link">
        <img src="images/display/logo_true.png" alt="WWSU Logo" class="brand-image img-circle bg-white elevation-3"
          style="opacity: .8">
        <span class="brand-text font-weight-light">WWSU 106.9 FM</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a href="#" class="nav-link" id="nav-nowplaying" title="Now Playing">
                <i class="nav-icon fas fa-play-circle"></i>
                <p>
                  Now Playing
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link" id="nav-chat" title="Chat with the DJ">
                <i class="nav-icon fas fa-comments"></i>
                <p>
                  Chat with DJ
                  <span class="badge badge-secondary right chat-newmessages" title="New Messages">0</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link" id="nav-schedule" title="Program Schedule">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Schedule
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link" id="nav-request" title="Request a Track">
                <i class="nav-icon fas fa-file-audio"></i>
                <p>
                  Request a Track
                </p>
              </a>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <section id="section-nowplaying">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-12">
                <h1 class="m-0 text-dark">Now Playing on WWSU 106.9 FM</h1>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>

        <!-- Now Playing Box -->
        <div class="card card-primary card-outline p-1 m-3">
          <div class="card-body box-profile">
            <div class="text-center nowplaying-icon" style="font-size: 5rem;">
              <i class="profile-user-img img-fluid img-circle fas fa-play-circle bg-primary"></i>
            </div>

            <h3 class="profile-username text-center nowplaying-line1"></h3>

            <p class="text-muted text-center nowplaying-line2"></p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item nowplaying-topic">
              </li>
              <li class="list-group-item">
                <small>Due to internet stream delay, now playing information may be up to 30 seconds fast.</small>
              </li>
            </ul>

            <!--
            <a href="#" class="btn btn-primary btn-block subscribe-button-all"
              title="Receive push notifications when this program goes on the air." tabindex="0"><b>Subscribe All
                Times</b></a>
                -->
          </div>
          <!-- /.card-body -->
        </div>

        <!-- Recently Played-->
        <div class="card p-1 m-3">
          <div class="card-header">
            <h3 class="card-title">Recently Played</h3>
          </div>
          <div class="card-body p-0">
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 75%">
                    Track Name
                  </th>
                  <th style="width: 25%">
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody class="nowplaying-recentlyplayed">
                <!-- Recent tracks are populated here-->
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </section>

      <section id="section-chat">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-12">
                <h1 class="m-0 text-dark">Chat with the DJ</h1>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>

        <div class="card card-sucress cardutline direct-chat direct-chat-success p-1 m-3">
          <div class="card-header">
            <h3 class="card-title">Chat</h3>

            <div class="card-tools">
              <span data-toggle="tooltip" title="New Messages" class="badge bg-secondary chat-newmessages">0</span>
            </div>
          </div>
          <div class="card-body">
            <div class="callout callout-secondary chat-status">
              <h5>Not Connected</h5>

              <p>You are not yet connected to the chat system.</p>
            </div>

            <div class="direct-chat-messages" id="chat-messages" style="height: 50vh;">
              <!--Chat messages go here-->
            </div>
            <div class="input-group m-2">
              <label for="chat-nickname">Nickname</label>
              <input type="text" name="chat-nickname" id="chat-nickname" placeholder="" class="form-control">
            </div>
            <div class="input-group m-2">
              <label for="chat-message">Message</label>
              <textarea name="chat-message" id="chat-message" maxlength="1024" rows="3" placeholder="Type Message ..."
                class="form-control chat-blocker"></textarea>
            </div>
            <div class="input-group m-2">
              <button type="submit" class="btn btn-success chat-blocker" onclick="sendMessage()" tabindex="0">Send
                Public</button>
              <button type="submit" class="btn btn-danger chat-blocker" onclick="sendMessage(true)" tabindex="0">Send
                Private</button>
            </div>
          </div>
          <div class="card-footer">
            <div class="callout callout-warning">
              <h5>IP Addresses are Logged</h5>

              <p>Do not send any harassing nor threatening messages. You agree your IP address will be logged with every
                message sent, and you could be banned from WWSU's website for sending harmful messages.</p>
            </div>
          </div>
        </div>
      </section>

      <section id="section-schedule">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-12">
                <h1 class="m-0 text-dark">Upcoming Program Schedule</h1>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>

        <div class="alert alert-warning">
          <h5><i class="icon fas fa-exclamation-triangle"></i> Coronavirus Closure</h5>
          WWSU offices and studios remain closed until further notice. All shows will be pre-recorded or remotely
          broadcast. We will make every effort to keep the schedule updated as things change.
        </div>

        <!-- Schedule Date Selector-->
        <div class="card p-1 m-3">
          <div class="card-header">
            <h3 class="card-title">
              Choose a Date
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="form-group">
              <label>Date</label>
              <select class="form-control" id="schedule-select" onchange="updateCalendar()">
                <option value="0" id="schedule-select-0">Today</option>
                <option value="1" id="schedule-select-1">Day 2</option>
                <option value="2" id="schedule-select-2">Day 3</option>
                <option value="3" id="schedule-select-3">Day 4</option>
                <option value="4" id="schedule-select-4">Day 5</option>
                <option value="5" id="schedule-select-5">Day 6</option>
                <option value="6" id="schedule-select-6">Day 7</option>
              </select>
            </div>
          </div>
          <!-- /.card-body -->
        </div>

        <!-- Schedule Events -->
        <div class="container-fluid">
          <div class="row" id="schedule-events">
            <!-- Events are populated here by Javascript -->
          </div>
        </div>

        <div class="modal fade" id="modal-eventinfo" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Event Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body" id="modal-eventinfo-body">
                <!--Event Info goes here-->
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="0">Close</button>
                <button type="button" class="btn btn-info subscribe-button-once"
                  title="Receive a push notification when this event, only for this date/time, airs, changes time, or cancels."
                  tabindex="0" id="modal-eventinfo-subscribe-once">Subscribe One-Time</button>
                <button type="button" class="btn btn-primary subscribe-button-all"
                  title="Receive a push notification when this event goes on the air any time, or when a change is made to this event's schedule."
                  id="modal-eventinfo-subscribe-all">Subscribe All Times</button>
                <button type="button" class="btn btn-danger"
                  title="Do not receive any push notifications for this event anymore." id="modal-eventinfo-unsubscribe"
                  style="display: none;">Unsubscribe All Times</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      </section>

      <section id="section-request">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-12">
                <h1 class="m-0 text-dark">Request a Track</h1>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>

        <div class="card p-1 m-3">
          <div class="card-header">
            <h3 class="card-title">Browse Tracks</h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Artist or Title</label>
                  <input type="text" class="form-control" id="request-name" placeholder="Enter ...">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label>Filter by genre</label>
                  <select class="form-control" id="request-genre">
                    <option value="0">Any Genre</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <button class="btn btn-primary" onclick="loadTracks(0)" onkeydown="loadTracks(0)" tabindex="0"
                    title="Search for tracks">Search</button>
                </div>
              </div>
            </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Artist - Title</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="request-table">
              </tbody>
            </table>
            <button type="button" class="btn btn-outline-danger disabled" id="request-more-none">No More Tracks</button>
            <button type="button" class="btn btn-primary" id="request-more" style="display: none;"
              onclick="loadTracks()" onkeydown="loadTracks()" tabindex="0">Load More Tracks</button>
          </div>

          <div class="card-footer">
            <div class="callout callout-warning">
              <h5>Request Limits</h5>

              <p>Each IP may request up to 10 tracks per day, reset at midnight ET.</p>
            </div>
            <div class="callout callout-info">
              <h5>When do requests play?</h5>

              <p>Up to 3 requests play every break during automation music. When a broadcast is airing, it is up to DJ
                discretion. If a DJ does not air a request during their show, it will play the next time we are in
                automation music.</p>
            </div>
            <div class="callout callout-info">
              <h5>Do we not have the track you want?</h5>

              <p>Contact music@wwsu1069.org and let us know if there is a track you would like us to check out and add
                to our system.</p>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modal-trackinfo" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Track Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col"><strong>Name</strong></th>
                      <th scope="col"><strong>Value</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Track ID</td>
                      <td id="track-info-ID"></td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td id="track-info-status"></td>
                    </tr>
                    <tr>
                      <td>Artist</td>
                      <td id="track-info-artist"></td>
                    </tr>
                    <tr>
                      <td>Title</td>
                      <td id="track-info-title"></td>
                    </tr>
                    <tr>
                      <td>Album</td>
                      <td id="track-info-album"></td>
                    </tr>
                    <tr>
                      <td>Genre</td>
                      <td id="track-info-genre"></td>
                    </tr>
                    <tr>
                      <td>Duration</td>
                      <td id="track-info-duration"></td>
                    </tr>
                    <tr>
                      <td>Date Last Played</td>
                      <td id="track-info-lastplayed"></td>
                    </tr>
                    <tr>
                      <td>Track Limits</td>
                      <td id="track-info-limits"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer justify-content-between" id="track-info-request">

              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      </section>

      <!-- Add 65 px to the end of the body because of the sticky footer-->
      <div style="height: 65px;"></div>
    </div>
    <!-- /.content-wrapper -->

    <!--Modals-->
    <div class="modal fade" id="modal-discipline" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content bg-danger">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-discipline-title">Disciplinary Notice</h4>
          </div>
          <div class="modal-body" id="modal-discipline-body">
            <p></p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-light" id="modal-discipline-acknowledge">Acknowledge</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <div id="nativeflashradio" style="height:65px; width:100%;"></div>
    </footer>
  </div>

  <%- body %>
</body>

</html>