<body style="background-color: #000000; color: FFFFFF; overflow-y: hidden; overflow-x: hidden;">
<h1 style="text-align: center; font-size: 3em; color: #FF7878">AAUP-WSU Strike (since 8AM 1/22)</h1>
<h2 style="text-align: center; font-size: 10em; color: #ffFF78" id="aaup-strike">PLEASE WAIT...</h2>
    <script>if (window.module)
                module = window.module;</script>
<script src="../../js/strike/strike.js?t=<%= timestamp %>" defer></script>
</body>
