<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WWSU Bookings System</title>
    <script>
      if (typeof module === "object") {
        window.module = module;
        module = undefined;
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- Theme style (TODO: use min when it is working again) -->
    <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.css" />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- JQuery BlockUI -->
    <script src="/plugins/jquery-blockui/jquery.blockUI.js"></script>

    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap multipleselect -->
    <link
      rel="stylesheet"
      href="/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css"
    />
    <script src="/plugins/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
    <!-- AdminLTE -->
    <script src="/plugins/adminlte/js/adminlte.js"></script>

    <!-- lodash -->
    <script src="/plugins/lodash/lodash.min.js"></script>
    <!-- Taffy -->
    <script src="/plugins/taffydb/taffy-min.js"></script>
    <!-- Moment -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- Moment timezone -->
    <script src="/plugins/moment-timezone/moment-timezone-with-data.js"></script>
    <!-- Moment Duration Format -->
    <script src="/plugins/moment-duration-format/moment-duration-format.js"></script>
    <!-- Moment Recur -->
    <script src="/plugins/moment-recur-ts/moment-recur-ts.min.js"></script>
    <!-- Jdenticon -->
    <script src="/plugins/jdenticon/jdenticon.min.js"></script>

    <!-- Bootstrap Slider -->
    <link
      rel="stylesheet"
      href="/plugins/bootstrap-slider/css/bootstrap-slider.min.css"
    />
    <script src="/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- Chart.js -->
    <script src="/plugins/chart.js/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="/plugins/chart.js/Chart.min.css" />

    <!-- Datatables -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <link
      rel="stylesheet"
      href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="/plugins/datatables-details/css/datatables-details.css"
    />

    <!-- Datatables Responsive -->
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <link
      rel="stylesheet"
      href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
    />

    <!-- Bootstrap Tempus Dominus (datetimepicker) -->
    <link
      rel="stylesheet"
      href="/plugins/bootstrap-tempusdominus/css/tempusdominus-bootstrap-4.min.css"
    />
    <script src="/plugins/bootstrap-tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Handlebars -->
    <script src="/plugins/handlebars/handlebars.min.js"></script>
    <!-- Alpaca (custom build) -->
    <script src="/plugins/alpaca-wwsu/alpaca.js"></script>
    <link rel="stylesheet" href="/plugins/alpaca-wwsu/alpaca.min.css" />

    <!--izi-->
    <link rel="stylesheet" href="/plugins/izitoast/css/iziToast.min.css" />
    <script src="/plugins/izitoast/js/iziToast.min.js"></script>

    <!--FullCalendar-->
    <script src="/plugins/fullcalendar/main.js"></script>
    <link rel="stylesheet" href="/plugins/fullcalendar/main.min.css" />

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/plugins/animate/css/animate.css" />

    <!--WWSU-->
    <script
      src="/plugins/sails.io/sails.io.js"
      autoConnect="false"
      environment="production"
      reconnection="true"
    ></script>
    <script src="/plugins/wwsu-modules/js/wwsu-modules.js?t=202202060343"></script>
    <script src="/plugins/wwsu-sails/js/wwsu.js?t=202202060343"></script>
    <script src="/plugins/wwsu-meta/js/wwsu-meta.js?t=202202060343"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-web.js?t=202202060343"></script>
    <script src="/plugins/wwsu-calendar/js/wwsu-calendar-class.js?t=202202060343"></script>
    <script src="/plugins/wwsu-announcements/js/wwsu-announcements.js?t=202202060343"></script>
    <script src="/plugins/wwsu-directors/js/wwsu-directors.js?t=202202060343"></script>
    <script src="/plugins/wwsu-djs/js/wwsu-djs.js?t=202202060343"></script>
    <script src="/plugins/wwsu-lockdown/js/wwsu-lockdown.js?t=202202060343"></script>
    <script src="/plugins/wwsu-cache/js/wwsu-cache.js?t=202202060343"></script>
  </head>

  <body
    class="hold-transition lockscreen dark-mode sidebar-collapse layout-top-nav bg-dark"
    style="overflow: hidden"
  >

    <%- body %>
    <script src="/plugins/wwsu-bookings/js/wwsu-bookings.js?t=202202060343"></script>
  </body>
</html>