<div class="container-fluid" id="body-dashboard">
    <!-- Content Row -->
    <div class="row">

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Remote Credits
                                (semester)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="dash-credits">?</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-gem fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">XP/Experience</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="dash-XP">?</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-star fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">On-Air Hours</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="dash-showtime">?</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-play fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Online Listener Hours
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="dash-hours">?</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-headphones fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Show Notices</h6>
            </div>
            <div class="card-body" id="dash-show">
                <!--
          <div class="card mb-4 py-3 border-left-warning">
            <div class="card-body">
              Your show, <strong>Raider Up! WWSU</strong>, will be interrupted by <strong>Men's
                Basketball</strong> on <strong>July 30, 2019,
                7:00PM</strong>. You will be required to sign off of the air 15 minutes prior to the broadcast.
            </div>
          </div>
        -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Announcements</h6>
            </div>
            <div class="card-body" id="dash-announcements">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="body-analytics" style="display: none;">
    <div class="row">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Analytics</h6>
            </div>

            <div class="card-body">
                <table class="table table-bordered" id="analytics-table" width="100%" cellspacing="0">
                </table>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Listener : Showtime Ratio by show</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <div id="analytics-listenerChart"></div>
                </div>
                <p>The greater the online listener to showtime ratio, the better (the more popular your show was). To see listener graphs of individual shows, scroll down to "Show Logs" and click the Logs icon (paper) next to the show you want to view (you may have to click the blue + on the left side if applicable to see it)</p>
                <hr>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Approach -->

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Show Logs</h6>
            </div>

            <div class="card-body" style="width: 95%; overflow: scroll;">
                <table class="table table-bordered stripe" id="logs-table" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Event</th>
                            <th>Scheduled Start</th>
                            <th>Scheduled End</th>
                            <th>Actual Start</th>
                            <th>Actual End</th>
                            <th>Started Early?</th>
                            <th>Started Late?</th>
                            <th>Ended Early?</th>
                            <th>Ended Late?</th>
                            <th>Missed IDs</th>
                            <th>Log</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-dj-logs" tabindex="-1" role="dialog">
    <div class="modal-content text-dark bg-light-3">
        <div class="modal-body" style="max-height: 640px; overflow: scroll;" id="dj-show-logs">
            <div class="chart-area">
                <div id="listener-graph"></div>
            </div>
            <table class="table table-bordered" id="dj-show-logs-table" width="90%" cellspacing="0">
            </table>
        </div>
        <div class="modal-footer bg-light-1">
        </div>
    </div>
</div>

<div class="modal" id="modal-help-remotes" tabindex="-1" role="dialog">
    <div class="modal-content text-dark bg-light-3">
        <div class="modal-body" style="max-height: 640px; overflow: scroll;">
            <p>
                Remote Credits are earned through your contributions to WWSU Radio outside of your radio show.
                <strong>In order to continue your radio show, it is required to earn 3 remote credits per semester.
                </strong>
                One of those remote credits must be earned from doing a show promo, and another remote credit must be
                earned from doing a show graphic. The third and additional remote credits may be earned however you
                wish.
            </p>
            <p>
                Extra remote credits earned will give you higher priority placement with next semester's show sign-ups
                (you will be more likely to get your most preferred time slot).
            </p>
            <p>
                The following is a list of ways you can earn a remote credit:
                <ul>
                    <li><strong>Show Promo (required)</strong></li>
                    <li><strong>Show Graphic (required)</strong></li>
                    <li>Work with Production and Marketing on an Underwriting (Do 1 for 1 credit; no maximum)</li>
                    <li>Attend DJ / Music Events (must be present 1 hour to earn a credit; max 1 credit per event; no
                        maximum on number of events)</li>
                    <li>Make a Legal ID or Station Sweeper (Do 2 for 1 credit, maximum 1 credit)</li>
                    <li>Attend a House of Representatives Meeting and represent WWSU (Do 1 meeting for 1 credit; no
                        maximum)</li>
                    <li>Do CD Reviews for the Music Director(Do 2 reviews for 1 credit; maximum 1 credit)</li>
                    <li>Be a producer or broadcaster/announcer for a Sports Game (Do 1 game for 1 credit; no maximum)
                    </li>
                    <li>Write a blog post for the website (Do 2 posts for 1 credit; maximum 3 credits)</li>
                    <li>Make station liners (Do 3 liners for 1 credit; maximum 1 credit)</li>
                    <li>Conduct an interview (Do 1 interview for 1 credit; maximum 5 credits)</li>
                </ul>
            </p>
            <p>
                If you feel the number of remote credits being reported is not correct, please contact the programming
                director at programming@wwsu1069.org.
            </p>
        </div>
        <div class="modal-footer bg-light-1">
        </div>
    </div>
</div>

<div class="modal" id="modal-help-reputation" tabindex="-1" role="dialog">
    <div class="modal-content text-dark bg-light-3">
        <div class="modal-body" style="max-height: 640px; overflow: scroll;">
            <p>
                Reputation is an informal measurement of how reputable you have been as a DJ. Directors may offer "most
                reputable" rewards, or may suspend the shows of DJs with very low reputation, at their discretion.
            </p>
            <p>
                The following is a list of ways reputation is impacted:
                <ul>
                    <li>Doing a scheduled live or remote show increases your reputation significantly.</li>
                    <li>Doing a prerecorded show or re-run increases your reputation moderately.</li>
                    <li>Doing an unscheduled live or remote show decreases reputation significantly.</li>
                    <li>Being absent for a scheduled live or remote show without canceling ahead of time or requesting a
                        re-run decreases your reputation significantly. Excludes optional show days.</li>
                    <li>Not doing a required top-of-the-hour ID break by :05 after decreases your reputation moderately.</li>
                    <li>Canceling your show opposed to requesting a re-run to air decreases your reputation slightly; we
                        prefer a re-run air instead of automation. Excludes optional show days.</li>
                    <li>Starting your show over 10 minutes early or late decreases your reputation slightly; please
                        contact programming@wwsu1069.org a day in advance for time changes.</li>
                    <li>Ending your show over 10 minutes early or late decreases your reputation slightly; please
                        contact programming@wwsu1069.org a day in advance for time changes.</li>
                </ul>
            </p>
        </div>
        <div class="modal-footer bg-light-1">
        </div>
    </div>
</div>

<div class="modal" id="modal-help-xp" tabindex="-1" role="dialog">
    <div class="modal-content text-dark bg-light-3">
        <div class="modal-body" style="max-height: 640px; overflow: scroll;">
            <p>
                Experience / XP is a fun and informal measurement of how much you have contributed to WWSU Radio. Directors might choose at their own discretion to give rewards based off of XP. However, the main purpose is for you to see your contributions.
            </p>
            <p>
                The following is a list of ways XP is earned:
                <ul>
                    <li>Live and remote shows earn 1 XP per minute on the air.</li>
                    <li>Live and remote shows earn 1 XP for every 3 online listener minutes (so encourage people to tune in via wwsu1069.org!)</li>
                    <li>For live and remote shows, you earn 15 XP every time you do a top of the hour ID break on time.</li>
                    <li>Prerecorded shows earn 1 XP every 2 minutes on the air.</li>
                    <li>Prerecorded shows earn 1 XP for every 6 online listener minutes.</li>
                    <li>Prerecorded shows earn 5 XP for every break the system could take because you properly split your audio files.</li>
                    <li>You earn 10 XP for every Top Add song played via clicking the Top Add button in DJ Controls.</li>
                    <li>You earn 2 XP every time you send a message to web / mobile listeners.</li>
                    <li>You earn 60 XP for every remote credit you earn.</li>
                </ul>
            </p>
            <p>
                Please do not abuse the XP system.
            </p>
        </div>
        <div class="modal-footer bg-light-1">
        </div>
    </div>
</div>