<div class="container-fluid" id="body-dashboard">
    <!-- Content Row -->
    <div class="row">

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Remote Credits (semester)
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dash-credits">?</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-gem fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">XP/Experience</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dash-XP">?</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-star fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">On-Air Hours</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dash-showtime">?</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-play fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Online Listener Hours
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dash-hours">?</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-headphones fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Show Notices</h6>
            </div>
            <div class="card-body" id="dash-show">
                <!--
          <div class="card mb-4 py-3 border-left-warning">
            <div class="card-body">
              Your show, <strong>Raider Up! WWSU</strong>, will be interrupted by <strong>Men's
                Basketball</strong> on <strong>July 30, 2019,
                7:00PM</strong>. You will be required to sign off of the air 15 minutes prior to the broadcast.
            </div>
          </div>
        -->
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Announcements</h6>
            </div>
            <div class="card-body" id="dash-announcements">
            </div>
        </div>

    </div>
</div>

<div class="container-fluid" id="body-analytics" style="display: none;">
    <!-- Content Row -->
    <div class="row">
            <div class="container p-1 m-1">
                    <div class="row">
                        <div class="col-12">
                            <div class="card text-white bg-primary">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Analytics</h6>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-2">
                                                    <i class="fas fa-microphone" width="32"></i>
                                                </div>
                                                <div class="col-4">
                                                    <h3>Shows</h3>
                                                </div>
                                                <div class="col-6">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                This Semester:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-shows">0</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                Lifetime:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-showsL">0</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card text-white bg-danger">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-2">
                                                    <i class="fas fa-compact-disc" width="32"></i>
                                                </div>
                                                <div class="col-4">
                                                    <h3>Prerecords</h3>
                                                </div>
                                                <div class="col-6">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                This Semester:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-prerecords">0</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                Lifetime:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-prerecordsL">0</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card text-white bg-purple">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-2">
                                                    <i class="fas fa-broadcast-tower" width="32"></i>
                                                </div>
                                                <div class="col-4">
                                                    <h3>Remotes</h3>
                                                </div>
                                                <div class="col-6">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                This Semester:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-remotes">0</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                Lifetime:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-remotesL">0</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card text-white bg-info">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-2">
                                                    <i class="fas fa-play" width="32"></i>
                                                </div>
                                                <div class="col-4">
                                                    <h3>Airtime (Hours)</h3>
                                                </div>
                                                <div class="col-6">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                This Semester:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-showtime">0</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                Lifetime:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-showtimeL">0</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card text-white bg-success">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-2">
                                                    <i class="fas fa-headphones" width="32"></i>
                                                </div>
                                                <div class="col-4">
                                                    <h3>Online Listeners (Hours)</h3>
                                                </div>
                                                <div class="col-6">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                This Semester:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-listenertime">0</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                Lifetime:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-listenertimeL">0</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card text-white bg-secondary">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-2">
                                                    <i class="fas fa-star" width="32"></i>
                                                </div>
                                                <div class="col-4">
                                                    <h3>Experience (XP)</h3>
                                                </div>
                                                <div class="col-6">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                This Semester:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-xp">0</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                Lifetime:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-xpL">0</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card text-dark bg-warning">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-2">
                                                    <i class="fas fa-gem" width="32"></i>
                                                </div>
                                                <div class="col-4">
                                                    <h3>Remote Credits</h3>
                                                </div>
                                                <div class="col-6">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                This Semester:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-remotecredits">0</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                Lifetime:
                                                            </div>
                                                            <div class="col-6">
                                                                <strong id="dj-remotecreditsL">0</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <div class="row">
        <!-- Area Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Listener Hours By Show</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <div id="analytics-listenerChart"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="row">
            <!-- Approach -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Show Logs</h6>
              </div>
              <div class="container m-1">
                    <div class="row card mb-4 py-3">
                        <div class="card-body">
                        <div class="col-2 text-danger">
                            Date
                        </div>
                        <div class="col-4 text-info">
                            Event
                        </div>
                        <div class="col-4">
                            <span class="text-secondary">Scheduled Time</span><br />
                            <span class="text-primary">Actual Time</span>
                        </div>
                        <div class="col-2">
                            Logs
                        </div>
                        </div>
                    </div>
                </div>
                <div class="container m-1" id="dj-attendance">
                </div>
            </div>
    </div>
</div>




<div class="modal" id="modal-dj-logs" tabindex="-1" role="dialog">
        <div class="modal-content text-dark bg-light-3">
            <header class="bg-secondary">
                <h6 class="m-0 font-weight-bold text-white">Show Log</h6>
                <div class="iziModal-header-buttons"><a href="javascript:void(0)"
                        class="iziModal-button iziModal-button-close" data-izimodal-close="" title="Close window"></a>
                </div>
            </header>
            <div class="modal-body" style="max-height: 640px; overflow: scroll;">
                <div class="container m-1">
                        <div class="row card mb-4 py-3">
                        <div class="card-body">
                        <div class="col-3 text-primary">
                            Time
                        </div>
                        <div class="col-9 text-secondary">
                            Event
                        </div>
                        </div>
                    </div>
                </div>
                <div class="container m-1" id="dj-show-logs">
                </div>
            </div>
            <div class="modal-footer bg-light-1">
            </div>
        </div>
</div>