<div class="row">
    <div class="col">
        <div class="p-1 m-3 card text-dark bg-light-3">
            <h2 class="card-header text-center">WWSU Directors and Office Hours</h2>
            <div class="card-body">
                <p class="card-text" style="text-align: center;">See which directors are currently in the WWSU office, and when they will be in over the next week. Blue = changed hours. Red = canceled hours.</p>
                <div class="card-text d-flex flex-wrap" id="directors">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="p-1 m-3 card text-dark bg-light-3">
            <h2 class="card-header text-center">WWSU Director Push Notifications</h2>
            <div class="card-body">
                <p class="card-text" style="text-align: center;">WWSU Directors can use this block to subscribe and un-subscribe their web browser or mobile app push notifications to various things. Director authentication will be required.</p>
                <div class="card-text d-flex flex-wrap">
                        <div id="subscriptions-emergencies" onclick="subscribeEmergencies()" onkeydown="subscribeEmergencies()" tabindex="0" style="width: 190px; position: relative;" class="m-2 text-dark rounded shadow-8 bg-light-1" title="Click to subscribe or un-subscribe from notifications for system problems.">
                            <div class="p-1 text-center" style="width: 100%;"><i class="fas fa-exclamation-triangle fa-w-16 text-danger" style="font-size: 96px;"></i>
                            <div class="m-1" style="text-align: center;"><span class="text-dark" style="font-size: 0.8em;" id="subscriptions-emergencies-text">Subscribe</span><br><span class="text-dark" style="font-size: 1.25em;">System Problems</span></div></div>
                        </div>
                        <div id="subscriptions-shows" onclick="subscribeShows()" onkeydown="subscribeShows()" tabindex="0" style="width: 190px; position: relative;" class="m-2 text-dark rounded shadow-8 bg-light-1" title="Click to subscribe or un-subscribe from notifications for radio show accountability.">
                                <div class="p-1 text-center" style="width: 100%;"><i class="fas fa-microphone fa-w-16 text-info" style="font-size: 96px;"></i>
                                <div class="m-1" style="text-align: center;"><span class="text-dark" style="font-size: 0.8em;" id="subscriptions-shows-text">Subscribe</span><br><span class="text-dark" style="font-size: 1.25em;">Show Accountability</span></div></div>
                        </div>
                        <div id="subscriptions-directors" onclick="subscribeDirectors()" onkeydown="subscribeDirectors()" tabindex="0" style="width: 190px; position: relative;" class="m-2 text-dark rounded shadow-8 bg-light-1" title="Click to subscribe or un-subscribe from notifications for director accountability.">
                                <div class="p-1 text-center" style="width: 100%;"><i class="fas fa-clock fa-w-16 text-warning" style="font-size: 96px;"></i>
                                <div class="m-1" style="text-align: center;"><span class="text-dark" style="font-size: 0.8em;" id="subscriptions-directors-text">Subscribe</span><br><span class="text-dark" style="font-size: 1.25em;">Director Office Hour Accountability</span></div></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>