<h1>WWSU Director Timesheets</h1>
<p>Click a timesheet entry to edit it. You will need to authenticate with an administrator director to edit timesheets.</p>
	<div class="container">    
    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="input-group" id="DateDemo">
	<form action="javascript:filterDate()" method="post" class="form">
              <input type='date' id='weekly-date-picker' name="firstdate" value="<%= currentDate %>" />
              <input type="submit" class="btn btn-default" value="Filter">
              </form>
              <button class="btn btn-info" id="csvExport">CSV Export</button>
          </div>
      </div>
  </div>
</div>
		<table border="1" class="table table-hover" cellpadding="1" cellspacing="1" style="width: 100%;" id="timesheet-table">
		<thead>
        <tr>
            <th rowspan="2">Director</th>
            <th colspan="2">Sunday</th>
            <th colspan="2">Monday</th>
            <th colspan="2">Tuesday</th>
            <th colspan="2">Wednesday</th>
            <th colspan="2">Thursday</th>
            <th colspan="2">Friday</th>
            <th colspan="2">Saturday</th>
            <th rowspan="2">Total Hours</th>
        </tr>
        <tr>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
        </tr>
    </thead>
    <tbody id="timesheet-records">
    </tbody>
</table>
<p>Time color key: <br /><br />
<span class="badge badge-success">Approved and Scheduled</span> - These timesheet records count towards weekly hours and fell within a scheduled office hours time block.<br />
<span class="badge badge-purple">Approved, but Unscheduled</span> - These timesheet records count towards weekly hours, but did not occur within a scheduled office hours time block.<br />
<span class="badge badge-warning">Scheduled, but needs review</span> - These timesheet records do NOT count towards weekly hours, but they fell within a scheduled office hours time block. These records need reviewed because the director modified the time in or time out to be more than 30 minutes from the time the record was logged.<br />
<span class="badge badge-urgent">Unscheduled and needs review</span> - These timesheet records do NOT count towards weekly hours and did not fall within a scheduled office hours time block. These records need reviewed because the director modified the time in or time out to be more than 30 minutes from the time the record was logged.<br />
<span class="badge badge-info">In right now</span> - The director has not yet clocked out for the specified shift. Hours from clock-in to the current time are counted towards weekly hours.<br />
<span class="badge badge-danger">Absent</span> - This is NOT an actual timesheet record. The director was scheduled to be in for hours during the indicated time, but did not clock in at all.<br />
<span class="badge badge-secondary">Canceled</span> - This is NOT an actual timesheet record. The director canceled the specified scheduled office hours.<br />
</p>

<!-- Modal -->
        <div class="modal fade" id="clockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Edit Clock</h5>
                        <a type="button" class="close" data-dismiss="trackModal" href="javascript:closeModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body" id="clock-body">
                        Please wait...
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
<script src="../../js/timesheet/timesheet.js"></script>