<h1>WSU UAB Director Timesheets</h1>
<p>Click a timesheet entry to edit it. You will need to authenticate with an administrator UAB director to edit timesheets.</p>
	<div class="container">    
    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="input-group" id="DateDemo">
	<form action="javascript:filterDate()" method="post" class="form">
              <input type='date' id='weekly-date-picker' name="firstdate" value="<%= currentDate %>" />
              <input type="submit" class="btn btn-default" value="Filter">
              </form>
              <button class="btn btn-info" id="csvExport">CSV Export</button>
          </div>
      </div>
  </div>
</div>
		<table border="1" class="table table-hover" cellpadding="1" cellspacing="1" style="width: 100%;" id="timesheet-table">
		<thead>
        <tr>
            <th rowspan="2">Director</th>
            <th colspan="2">Sunday</th>
            <th colspan="2">Monday</th>
            <th colspan="2">Tuesday</th>
            <th colspan="2">Wednesday</th>
            <th colspan="2">Thursday</th>
            <th colspan="2">Friday</th>
            <th colspan="2">Saturday</th>
            <th rowspan="2">Total Hours</th>
        </tr>
        <tr>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
            <th> In </th>
            <th> Out </th>
        </tr>
    </thead>
    <tbody id="timesheet-records">
    </tbody>
</table>
<p>Time color key: <br /><br /><span class="badge badge-primary">Approved</span> - Approved clocks count towards weekly hours. Clocks are auto-approved if the director's specified clock-in or clock-out time was no more than 30 minutes from the time they logged their clock-in/out.<br /><span class="badge badge-success">In right now</span> - The director has not yet clocked out for the specified shift. Hours from clock-in to the current time are counted towards weekly hours.<br /><span class="badge badge-danger">Flagged</span> - Clock times that are 30 or more minutes off from the time the director logged them, or clocks in which the director was still clocked in at 11:59pm (auto-clock-out), get flagged, and need editing/approval by an administrator director before they count towards weekly hours.</p>

<!-- Modal -->
        <div class="modal fade" id="clockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Edit Clock</h5>
                        <a type="button" class="close" data-dismiss="trackModal" href="javascript:closeModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body" id="clock-body">
                        Please wait...
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
<script src="../../plugins/wwsu-uabtimesheet/timesheet.js"></script>