<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../../plugins/material/css/material.min.css">
    <link rel="stylesheet" href="../../plugins/bootstrap-datetimepicker/css/bootstrap.datetimepicker.css">
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../plugins/moment/moment.min.js"></script>
    <script src="../../plugins/lodash/js/lodash.min.js"></script>
    <script src="../../plugins/moment-duration-format/js/moment-duration-format.js"></script>
    <script src="../../plugins/material/js/material.min.js"></script>
    <script src="../../plugins/bootstrap-datetimepicker/js/bootstrap.datetimepicker.js"></script>
    <script src="../../plugins/taffy/js/taffy-min.js"></script>
    <link rel="stylesheet" href="../../plugins/iziModal/css/iziModal.min.css">
    <link rel="stylesheet" href="../../plugins/iziToast/css/iziToast.min.css">
    <script src="../../plugins/iziModal/js/iziModal.min.js"></script>
    <script src="../../plugins/iziToast/js/iziToast.min.js"></script>
    <script type="text/javascript" src="../../plugins/sails.io/sails.io.js" autoConnect="false"></script>
    <script src="../../plugins/eventemitter/js/EventEmitter.min.js"></script>
    <script src="../../plugins/wwsu-sails/js/wwsu.js"></script>
    <title>WSU UAB Director Timesheets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<html>

<body>
    <%- body %>
</body>

</html>