<div class="row">
    <div class="col">
        <div class="p-1 m-3 card text-dark bg-light-3">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Events and Shows</label>
    <div class="col-sm-9">
          <select class="form-control" id="calendar-select" onchange="updateCalendar()">
      <option value="0" id="calendar-select-0">Today</option>
      <option value="1" id="calendar-select-1">Day 2</option>
      <option value="2" id="calendar-select-2">Day 3</option>
      <option value="3" id="calendar-select-3">Day 4</option>
      <option value="4" id="calendar-select-4">Day 5</option>
      <option value="5" id="calendar-select-5">Day 6</option>
      <option value="6" id="calendar-select-6">Day 7</option>
      <option value="7" id="calendar-select-7">Day 8</option>
      <option value="8" id="calendar-select-8">Day 9</option>
      <option value="9" id="calendar-select-9">Day 10</option>
      <option value="10" id="calendar-select-10">Day 11</option>
      <option value="11" id="calendar-select-11">Day 12</option>
      <option value="12" id="calendar-select-12">Day 13</option>
      <option value="13" id="calendar-select-13">Day 14</option>
      <option value="14" id="calendar-select-14">Day 15</option>
      <option value="15" id="calendar-select-15">Day 16</option>
      <option value="16" id="calendar-select-16">Day 17</option>
      <option value="17" id="calendar-select-17">Day 18</option>
      <option value="18" id="calendar-select-18">Day 19</option>
      <option value="19" id="calendar-select-19">Day 20</option>
      <option value="20" id="calendar-select-20">Day 21</option>
      <option value="21" id="calendar-select-21">Day 22</option>
      <option value="22" id="calendar-select-22">Day 23</option>
      <option value="23" id="calendar-select-23">Day 24</option>
      <option value="24" id="calendar-select-24">Day 25</option>
      <option value="25" id="calendar-select-25">Day 26</option>
      <option value="26" id="calendar-select-26">Day 27</option>
      <option value="27" id="calendar-select-27">Day 28</option>
    </select>
    </div>
  </div>
            <div class="card-body">
                <div style="text-center">Click an event for more information. You can also subscribe to an event to receive a notification when it goes on the air.</div>
                <div id='calendar' class="d-flex flex-wrap"></div>
                <div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="dialogTitle" aria-describedby="dialogDesc" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="dialogTitle">Title unavailable</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="dialogDesc">
                                Description unavailable
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>