<div class="row">
    <div class="col">
        <div class="p-1 m-3 card text-white bg-dark">
            <div class="card-header text-center" style="font-size: 1.5em;">Chat with the WWSU DJ</div>
            <div class="card-body">
                <div id="messages-status"></div>
                <div class="container-fluid" id="messages" style="height: 360px; overflow-y: auto; background-color: #787878; color: #FFFFFF;">
                </div>
                <div class="form-group">
                    <label for="nickname">Nickname (Change if you want the DJ to know who you are)</label>
                    <input type="text" class="form-control" id="nickname" maxlength="32" placeholder="">
                    <label for="themessage">Message</label>
                    <div class="bg-light text-dark">
                        <div id="themessage"></div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-wwsu-red m-1" id="sendmessage" onclick="sendMessage(false);">
                        Send to Chat
                    </button>
                    <button type="button" class="btn btn-secondary m-1" id="sendmessagep" onclick="sendMessage(true);">
                        DM the DJ
                    </button>
                    <button type="button" class="btn btn-secondary m-1" id="clearchat" onclick="clearChat();">
                        Clear Messages
                    </button>
                </div>
                <div class="alert alert-info" role="alert">
                    Each IP address is limited to sending 3 messages per minute.
                </div>
                <div class="alert alert-warning" role="alert">
                    <strong>Your IP address is logged when you send messages.</strong> Abuse of the chat system may result in a temporary or permanent ban from the listener's corner.
                </div>
            </div>
        </div>
    </div>
</div>