<div class="container">
  <div class="row">
    <div class="col">
<div class="p-1 m-3 card text-white bg-dark">
  <div class="card-header text-center" style="font-size: 1.5em;">WWSU Listener's Corner</div>
  <div class="card-body">
      <div class="card-title" style="text-align: center;"><a href="https://www.wright.edu/wwsu"><img src="http://server.wwsu1069.org/images/display/logo.png" style="width: 100%; max-width: 640px;"></a></div>
      <p class="card-text" style="text-align: center;">Listen live to WWSU, chat with the DJ, or make song requests here.</p>
             <div id="nativeflashradio" style="height:65px; width:100%;"></div>
<div class="alert alert-info" role="alert">
  Please allow several seconds after clicking play before you begin hearing audio.
</div>
             <br style="clear:both;">
        <p class="card-text"><div style="text-align: center; color: #ffffff;" id="nowplaying"><div class="p-3 mb-2 bg-wwsu-red">Connecting...</div></div></p>
  </div>
</div>
    </div>
</div>
  <div class="row">
    <div class="col">
<div class="p-1 m-3 card text-white bg-dark">
  <div class="card-header text-center" style="font-size: 1.5em;">Chat with the DJ</div>
  <div class="card-body">
        <div class="container-fluid" id="messages" style="height: 360px; overflow-y: auto; background-color: #787878; color: #FFFFFF;">
        </div>
        <div class="form-group">
<label for="nickname">Nickname</label>
            <input type="text" class="form-control" id="nickname" maxlength="32" placeholder="">
<label for="themessage">Message</label>
            <textarea class="form-control" rows="2" id="themessage" placeholder=""></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-wwsu-red m-1" id="sendmessage" onclick="sendMessage(false);">
                Send to Chat
            </a>
            <button type="button" class="btn btn-secondary m-1" id="sendmessagep" onclick="sendMessage(true);">
                DM to the DJ
            </a>
            <button type="button" class="btn btn-secondary m-1" id="clearchat" onclick="clearChat();">
                Clear Messages
            </a>
        </div>
<div class="alert alert-info" role="alert">
  Each IP address is limited to sending 3 messages per minute.
</div>
<div class="alert alert-warning" role="alert">
  <strong>Your IP address is logged when you send messages.</strong> Abuse of the chat system may result in a temporary or permanent ban from the listener's corner.
</div>
  </div>
</div>
    </div>
</div>
  <div class="row">
    <div class="col">
<div class="p-1 m-3 card text-white bg-dark">
  <div class="card-header text-center" style="font-size: 1.5em;">Request a Song</div>
  <div class="card-body">
<div class="container-fluid" id="trackrequests" style="height: 480px; overflow-y: auto; background-color: #787878; color: #000000;">
<form name="input" action="javascript:loadTracks(null)" method="get"><div class="col-sm-6"><div class="input-group"><input type="text" placeholder="Search artist or title..." value="" id="searchterm" class="form-control"><span class="input-group-btn"><input type="submit" class="btn btn-default" type="button" value="Search">Search</span><br /></div></div></form>
<p style="color: #ffffff; text-align: center;">Click a track below to view more info and/or to request it. Scroll to the bottom to load more tracks.</p>
<div id="song-data" style="color: #ffffff; text-align: center;"></div>
        </div>
<p>You may request up to 10 tracks per day. Requests during automation are played after the break at :00, :20, and :40 past the hour (up to 3 requests are played per break in the order in which they are received). Requests during shows are up to the DJ's discretion.</p>
  </div>
</div>
    </div>
</div>
</div>

<!-- Modal -->
        <div class="modal fade" id="trackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Track Information</h5>
                        <a type="button" class="close" data-dismiss="trackModal" href="javascript:closeModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body" id="track-info-body">
                        Please wait...
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    <script>if (window.module)
                module = window.module;</script>
<script src="../../js/website/listen.js" defer></script>