<!DOCTYPE html>
<html>
    <head>
        <script>if (typeof module === 'object') {
                window.module = module;
                module = undefined;
            }</script> 
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../dependencies/sails.io.js"
  environment="production"></script>
<script src="../../js/iziToast.min.js"></script>
<script src="../../js/moment.min.js"></script>
<script src="../../js/bootstrap/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../../js/website/nativeflashradiov4.js"></script>
<link rel="stylesheet" href="../../../styles/bootstrap/mytheme.min.css">
<link rel="stylesheet" href="../../../styles/iziToast.min.css">
<link rel="apple-touch-icon" sizes="57x57" href="../../images/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../../images/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../images/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../../images/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../images/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../images/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../../images/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../images/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../../images/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../../images/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../../images/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../images/icons/favicon-16x16.png">
<link rel="manifest" href="../../images/icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<script>
</script>

        <meta charset="UTF-8">
<title>WWSU Listener's Corner</title>
<meta name="Description" content="Tune in live to WWSU Radio and see what's currently playing. Chat with the DJ in our web chat box. And make track requests.">
        <style>
            body
            {
                overflow-x: hidden;
            }
        </style>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    </head>
    <body style="background-color: #000000; min-width: 240px;">
<div class="container">
  <div class="row">
    <div class="col">
<div class="card text-white bg-dark">
  <div class="card-header text-center"><a href="https://www.wright.edu/wwsu"><img src="http://server.wwsu1069.org/images/logo.png" style="width: 240px; height: auto;"></a></div>
  <div class="card-body">
      <h4 class="card-title">WWSU Listener's Corner</h4>
      <p class="card-text">Listen live to WWSU, chat with the DJ, or make song requests here.</p>
             <div id="nativeflashradio" style="height:65px; width:100%;"></div>
             <p class="card-text">Please allow several seconds after clicking play for buffering before you begin hearing audio.</p>
             <br style="clear:both;">
        <p class="card-text"><div style="text-align: center; color: #ffffff;" id="nowplaying"><div class="p-3 mb-2 bg-wwsu-red">Connecting...</div></div></p>
  </div>
</div>
    </div>
</div>
  <div class="row">
    <div class="col">
<div class="card text-white bg-dark">
  <div class="card-header text-center">Chat with the DJ</div>
  <div class="card-body">
        <div class="container-fluid" id="messages" style="height: 360px; overflow-y: auto; background-color: #787878; color: #FFFFFF;">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="2" id="themessage" placeholder="Type your message here. You are limited to sending 3 messages per minute."></textarea>
        </div>
        <div class="form-group">
    <input type="text" class="form-control" id="nickname" maxlength="32" placeholder="Nickname (optional)">
            <button type="button" class="btn btn-wwsu-red m-1" id="sendmessage" onclick="sendMessage(false);">
                Send to Chat
            </a>
            <button type="button" class="btn btn-secondary m-1" id="sendmessagep" onclick="sendMessage(true);">
                DM to the DJ
            </a>
            <button type="button" class="btn btn-secondary m-1" id="clearchat" onclick="clearChat();">
                Clear Messages
            </a>
        </div>
<div class="alert alert-warning" role="alert">
  <strong>Your IP address is logged when you send messages.</strong> Abuse of the chat system may result in a temporary or permanent ban from the listener's corner.
</div>
  </div>
</div>
    </div>
</div>
  <div class="row">
    <div class="col">
<div class="card text-white bg-dark">
  <div class="card-header text-center">Request a Song</div>
  <div class="card-body">
<div class="container-fluid" id="trackrequests" style="height: 480px; overflow-y: auto; background-color: #787878; color: #000000;">
<form name="input" action="javascript:loadTracks(null)" method="get"><div class="col-sm-6"><div class="input-group"><input type="text" placeholder="Search artist or title..." value="" id="searchterm" class="form-control"><span class="input-group-btn"><input type="submit" class="btn btn-default" type="button" value="Search">Search</span><br /></div></div></form>
<p style="color: #ffffff; text-align: center;">Click a track below to view more info and/or to request it. Scroll to the bottom to load more tracks.</p>
<div id="song-data" style="color: #ffffff; text-align: center;"></div>
        </div>
<p>You may request up to 10 tracks per day. Requests during automation are played after the break at :00, :20, and :40 past the hour (up to 3 requests are played per break in the order in which they are received). Requests during shows are up to the DJ's discretion.</p>
  </div>
</div>
    </div>
</div>
</div>

<!-- Modal -->
        <div class="modal fade" id="trackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Track Information</h5>
                        <a type="button" class="close" data-dismiss="trackModal" href="javascript:closeModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body" id="track-info-body">
                        Please wait...
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    </body>
    <script>if (window.module)
                module = window.module;</script>
<script src="../../js/website/listen.js"></script>
</html>
