<!DOCTYPE html>
<html>
    <head>
        <script>if (typeof module === 'object') {
                window.module = module;
                module = undefined;
            }</script> 
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../dependencies/sails.io.js"></script>
<script src="../../js/iziToast.min.js"></script>
<script src="../../js/moment.min.js"></script>
<script src="../../js/moment-duration-format.js"></script>
<script src="../../js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../../js/fullcalendar.min.js"></script>
<script src="../../js/taffy-min.js"></script>
<script src="../../js/quill.min.js"></script>
<script type="text/javascript" src="../../js/website/nativeflashradiov4.js"></script>
<link rel="stylesheet" href="../../../styles/bootstrap/mytheme.min.css">
<link rel="stylesheet" href="../../../styles/iziToast.min.css">
<link rel="stylesheet" href="../../../styles/fullcalendar.min.css">
<link rel="stylesheet" href="../../../styles/quill.snow.css">
<link rel="apple-touch-icon" sizes="57x57" href="../../images/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../../images/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../images/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../../images/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../images/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../images/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../../images/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../images/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../../images/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../../images/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../../images/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../images/icons/favicon-16x16.png">
<link rel="manifest" href="../../images/icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<script>
</script>

        <meta charset="UTF-8">
<title>WWSU Listener's Corner</title>
<meta name="Description" content="Tune in live to WWSU Radio and see what's currently playing. Chat with the DJ in our web chat box. And make track requests.">
        <style>
            body
            {
                overflow-x: hidden;
            }

            .bs-callout {
                padding: 10px;
                margin: 10px 0;
                border: 1px solid #eee;
                border-left-width: 5px;
                border-radius: 3px;
            }
            .bs-callout h4 {
                margin-top: 0;
                margin-bottom: 5px;
            }
            .bs-callout p:last-child {
                margin-bottom: 0;
            }
            .bs-callout code {
                border-radius: 3px;
            }
            .bs-callout+.bs-callout {
                margin-top: -5px;
            }
            .bs-callout-default {
                border-color: #777;
                background: rgba(119, 119, 119, 0.2);
            }
            .bs-callout-default h4 {
                color: #777;
            }
            .bs-callout-secondary {
                border-color: #777;
                background: rgba(119, 119, 119, 0.2);
            }
            .bs-callout-secondary h4 {
                color: #777;
            }
            .bs-callout-primary {
                border-color: #428bca;
                background: rgba(0, 123, 255, 0.2);
            }
            .bs-callout-primary h4 {
                color: #428bca;
            }
            .bs-callout-success {
                border-color: #5cb85c;
                background: rgba(40, 167, 69, 0.2);
            }
            .bs-callout-success h4 {
                color: #5cb85c;
            }
            .bs-callout-danger {
                border-color: #d9534f;
                background: rgba(220, 53, 69, 0.2);
            }
            .bs-callout-danger h4 {
                color: #d9534f;
            }
            .bs-callout-warning {
                border-color: #f0ad4e;
                background: rgba(255, 193, 7, 0.2);
            }
            .bs-callout-warning h4 {
                color: #f0ad4e;
            }
            .bs-callout-info {
                border-color: #5bc0de;
                background: rgba(23, 162, 184, 0.2);
            }
            .bs-callout-info h4 {
                color: #5bc0de;
            }
            .bs-callout-urgent {
                border-color: #fda45a;
                background: rgba(253, 126, 20, 0.2);
            }
            .bs-callout-urgent h4 {
                color: #fda45a;
            }
        </style>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    </head>
    <body style="background-color: #000000; min-width: 240px;">
<div class="container">
<%- body %>
</div>
    <script>if (window.module)
                module = window.module;</script>
<script src="../../js/website/listen.js?t=<%= timestamp %>" defer></script>
</body>
</html>
