<div class="row">
    <div class="col">
        <div class="p-1 m-3 card text-white bg-dark">
            <div class="card-header text-center" style="font-size: 1.5em;">Listen to WWSU</div>
            <div class="card-body">
                <div class="card-title" style="text-align: center;"><a href="https://www.wright.edu/wwsu"><img src="../images/display/logo.png" style="width: 100%; max-width: 640px;"></a></div>
                <p class="card-text" style="text-align: center;">Listen live to WWSU, chat with the DJ, or make song requests here.</p>
                <div id="nativeflashradio" style="height:65px; width:100%;"></div>
                <div class="alert alert-info" role="alert">
                    Please allow several seconds after clicking play before you begin hearing audio.
                </div>
                <br style="clear:both;">
                <p class="card-text"><div style="text-align: center; color: #ffffff;" id="nowplaying"><div class="p-3 mb-2 bg-wwsu-red">Connecting...</div></div></p>
                <p class="card-text" style="text-align: center; font-size: 1.5em;">Recent Tracks</p>
                <div class="container" id="recent-tracks"></div>
            </div>
        </div>
    </div>
</div>